<!DOCTYPE html>
<html>

<head>
	{% include 'new/public/meta.html' %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='advance/css/userManage.css')}}"/>
</head>

<body>

{% include 'new/public/header.html' %}


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="pauseUse">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body pd-n h-50 center">
				确定暂停使用？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn-yes bg-green c-white">
					确定
				</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="restoreUse">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body pd-n h-50 center">
				确定恢复使用？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn-yes bg-green c-white">
					确定
				</button>

			</div>
		</div>
	</div>
</div>



<div class="container-fluid" style="margin-top: 51px;">
	<div class="row" id="row-box">
		{% include 'new/public/left.html' %}
		<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 0px 20px;">


			<h4 class="page-header bdr-n h-50" style="margin: 0">部门详情</h4>
			<div class="col-md-12 c-gray pd-n"> Welcome back, <span>{{request.cookies.username}}</span></div>
			<div class="col-md-12 b-nav bg-white mt-30">
				<ol class="breadcrumb bg-white mb-0 pdtb-15">
					<li><a href="#" class="c-gray">Home</a></li>
					<li><a href="{{url_for('hyperai.views.user_manage')}}" class="c-gray">系统管理</a></li>
					<li class="c-green">部门详情</li>
				</ol>
			</div>
			<div class="col-md-12 mt-30 bg-white" style=" padding:20px 30px 30px 30px; ">
				<div class="col-md-12">
					<h3 class="page-header" style="margin-top: 20px">权限</h3>
					<div class="col-md-3">
						<h4 class="page-header" style="border: none;">资源配额</h4>
						<div class="col-md-12 depart-gpu" style="padding: 0;">
							GPU使用上限为
							<span id="" style="color: #FF6376;">6</span>
							个
						</div>
					</div>
					<div class="col-md-3">
						<h4 class="page-header" style="border: none;">优先级</h4>
						<div class="col-md-12 depart-yxj c-red"></div>
					</div>
				</div>

			</div>

			<div class="col-md-12 mt-30 bg-white" style="padding:20px 30px 30px 30px; ">
				<div class="col-md-12">
					<h3 class="page-header" style="margin-top: 20px">成员</h3>



					<table class="table ">
						<thead>
						<tr>

							<th>用户名</th>
							<th>GPU配额</th>
							<th>剩余GPU</th>

							<th>操作</th>

						</tr>
						</thead>
						<tbody class="user-detail-list">
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>

						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>
						<tr>
							<td></td>
							<td class="gpu_max"></td>
							<td></td>
							<td>
								<input type="button" class="d-cluster usergpu-btn btn-green" value="暂停使用" data-toggle="modal" data-target="#pauseUse">
								<input type="button" class="h-cluster usergpu-btn btn-gray" value="恢复使用" data-toggle="modal" data-target="#restoreUse">
							</td>
							<td class="pid"></td>
						</tr>




						</tbody>
					</table>
				</div>
				<div class="w-100 page_box f-l" style="margin-top: 40px;">
					<div id="page">

					</div>
				</div>

			</div>


		</div>

		<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom bg-white" style="margin-top: 170px">Copyright © 2017
			<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.</div>

	</div>
</div>

{% include 'new/public/script.html'%}
<script src="{{url_for('static', filename='advance/js/paging.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='advance/js/departDetail.js')}}" type="text/javascript" charset="utf-8"></script>

<script>

</script>

</body>

</html>