<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1"/>
    <meta name="keywords" content="DistantSound"/>
    <meta name="author" content="DistantSound"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>中科弘云</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/bitbug_favicon.ico')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/public.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/iconfont.css')}}"/>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='plugins/iCheck/skins/minimal/grey.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Feffects.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/iCheck/icheck.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.nicescroll.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/formValidator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}"></script>
    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
    <![endif]-->
</head>
<body class="bg-body">
<div class="f-l u-login-box">
    <div class="f-l u-login-l">
        <img src="{{url_for('static', filename='images/logo_new.png')}}" class="f-l"/>
    </div>
    <div class="f-r u-login-r">
        <h1 class="f-l c-aqua"><i class="f-l iconfont fz-30"> &#xe615; </i></h1>
        <h2 class="f-l c-aqua bdr-b" > 欢迎使用--- <strong class=" c-grayblue"> HyperAI Cloud </strong></h2>
        <form action="" method="post" class="f-l" id="user-login-form">
            <div class="f-l u-login">
                <span id="Tipuser-name" class="" style="width: 150px"></span>
                <input type="text" name="" placeholder="请输入用户名" id="user-name" class="f-l bdr-n u-info bdr-b c-gray"/>
            </div>
            <div class="f-l u-login">
                <span id="Tipuser-pas" class=""></span>
                <input type="password" name="" placeholder="请输入密码" maxlength="18" id="user-pas"
                       class="f-l bdr-n u-info bdr-b c-gray"/>
            </div>
            <div class="f-l u-login">
                <input type="button" name="" id="user-login-yes" value="登 陆" class="f-l btn-login m-t20 bgc-Aqua bgc-red-h c-white"/>
            </div>

            <div class="f-l u-login" style="margin-top: 20px">
                <a href="{{url_for('hyperai.passport.views.forget_password')}}" class="f-r c-aqua-h c-red btn-forget-pas m-t10"> 忘记密码？ </a>
                <hr/>
                <h3 class="f-l bgc-white"> 没有账号，<a href="{{url_for('hyperai.passport.views.register')}}"
                                                   class="c-aqua-h c-red"> 立即注册 </a></h3>
            </div>
        </form>
    </div>
    <p class="f-l c-white jjh"> Copyright © 2017 <a href="" class="c-aqua c-red-h"> 中科弘云科技（北京）有限公司,</a> All rights reserved. </p>
</div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}"></script>
<script>
    $('#user-pas').on('focus',function () {
        document.onkeydown=function (e) {
            var e= event||e
//            console.log(e.keyCode)
            if(e.keyCode==13){
                console.log('yes')
//                $('#user-login-form').submit()
                $('#user-login-yes').click()
            }
        }
    })
</script>
</html>