<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>中科弘云</title>
		<link rel="shortcut icon" href="icon/bitbug_favicon.ico" />
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />

	</head>

	<body>

		<nav class="navbar navbar-inverse  navbar-fixed-top" style="margin-bottom: 0;box-shadow: 1px 1px 2px #DDDDDD;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
          			</button>
					<a class="navbar-brand" href="#"><img src="img/logo.png" /></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="nav navbar-nav navbar-right nav-right">
						<div class="head-img">
							<img src="img/00-1.jpg" />
						</div>
						<div class="">
							<div class="">
								test
							</div>
						</div>
						<div class="logout-box">
							<div class="">
								退出
							</div>
						</div>
					</div>
					<!--<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
					</form>-->
				</div>
			</div>
		</nav>

		<div class="container-fluid" style="margin-top: 51px;">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar" id="l-slider">
					<ul class=" nav-sidebar left-menu">

						<li class="">
							<a href="#">
								<i class="iconfont icon-shouye mr-20"></i>
								<span id="">
			            			首页	
			            		</span>

							</a>
						</li>
						<li>
							<a href="#">
								<i class="iconfont icon-gaojigongneng mr-20"></i>
								<span id="">
			            			模型训练
			            		</span>

							</a>
						</li>
						<li>
							<a href="#">
								<i class="iconfont icon-zidongtishengyouxianshengji mr-20"></i>
								<span id="">
			            			超参调优
			            		</span>

							</a>
						</li>
						<li>
							<a href="#">
								<i class="iconfont icon-wenjianguanli mr-20"></i>
								<span id="">
			            			文件管理
			            		</span>

							</a>
						</li>
						<li class="xtgl">
							<a href="#">
								<i class="iconfont icon-xitongguanli mr-20"></i>
								<span id="">
			            			系统管理
			            		</span>
								<!--<i class="iconfont icon-xiala xiala" style="transform: rotate(-90deg);"></i>-->
							</a>
						</li>
						<div class="xit-menu">
							<div class="menu-info">
								镜像仓库
							</div>
							<div class="menu-info">
								资源监控
							</div>
							<div class="menu-info">
								用户管理
							</div>
						</div>
					</ul>
				</div>
				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 0px 20px;">
			
				</div>

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom footer-box">Copyright © 2017
					<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.
				</div>

			</div>
		</div>

		<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/jquery.nicescroll.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		
	</body>

</html>