<!DOCTYPE html>
<html>

	<head>
		{% include 'new/public/meta.html' %}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='advance/css/tuning.css')}}"/>

	</head>

	<body>
	<style>
		.autocomplete-suggestions{
			background: #ffffff;
			border: 1px solid #999;
			overflow: auto;
			padding-left: 5px;
		}
	</style>
		{% include 'new/public/header.html' %}

		<div class="container-fluid" style="margin-top: 51px;">
			<div class="row" id="row-box">

				{% include 'new/public/left.html' %}

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 0px 20px;">
					<h4 class="page-header bdr-n h-50" style="margin: 0;">超参调优</h4>
					<div class="col-md-12 c-gray pd-n "> Welcome back, <span>{{request.cookies.username}}</span></div>
					<div class="col-md-12 b-nav bg-white mt-30">
						<ol class="breadcrumb bg-white mb-0 pdtb-15">
							<li>
								<a href="/index" class="c-gray">Home</a>
							</li>

							<li class="c-green">超参调优</li>
						</ol>
					</div>


					<!--提示框-->
					<!--<div class="static">-->
						<div id="myAlert" class="alert col-md-6 alert-warning" style="display: none">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<strong></strong>
						</div>
					<!--</div>-->



			<form id="formid" enctype="multipart/form-data">

				<input type="hidden" value="" class="fen-name" name="matchExpressions_values" />
					<div class="col-md-12 mt-30 tuning-box" style="background: #FFFFFF; padding:20px 30px;">
						
						
						  <div class="form-group col-md-12 mt-15">
						    <h4  class="col-sm-2 control-label t-r fz-16">作业名称</h4>
						    <div class="col-sm-6">
						      <input type="text" class="form-control" id="homework_name" name="homework_name">
						    </div>
						  </div>
						  <h4 class="page-header bdr-n">模型</h4>
						  
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">本地文件</h4>
						    <div class="col-sm-6" style="position: relative;">
						      <input type="text" class="form-control image_list_i_2" id="model_file" readonly>
						      <span href="#" class="load-file">上传
									<input type="file" name="model_file" id="image_list2" value=""/>
								   <!--<input type="hidden" name="" value="" class="hide-file">-->
							  </span>
						    </div>
						  </div>
						  
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">服务器路径</h4>
						    <div class="col-sm-6">
						      <input type="text" class="form-control autocomplete_path" id="model_path" name="server_path">
						    </div>
						  </div>
						  <h4 class="page-header bdr-n">数据集</h4>
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">选择数据集</h4>
						    <div class="col-sm-6">
						      <input type="text" class="form-control autocomplete_path" id="dataset_file" name="dataset_file">
						    </div>
						  </div>
					</div>
					<div class="col-md-12 mt-30 tuning-box" style="background: #FFFFFF; padding:20px 30px;">
						<h4 class="page-header bdr-n">参数区</h4>
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">优化方式</h4>
						    <div class="col-sm-3">
						      <select type="text" class="form-control" id="opt-way" name="optimize_type">
						      	<option value="Bayesian optimization">Bayesian optimization</option>
						      </select>
						    </div>
						    
						    <h4  class="col-sm-2 control-label t-r fz-16">优化方法</h4>
						    <div class="col-sm-3">
						      <select type="text" class="form-control" id="opt-fun" name="Bayesian_method">
						      	<option value="GD">GD</option>
						      	<option value="RMSProp">RMSProp</option>
						      	<option value="Adam">Adam</option>
						      	<option value="Momentum">Momentum</option>
						      </select>	
						    </div>
						    
						  </div>
						  <div class="form-group col-md-12 mt-15">
						    <h4  class="col-sm-2 control-label t-r fz-16">bayesian迭代次数</h4>
						    <div class="col-sm-3 format-box">
						      <span class="c-red format">迭代次数选择1到100之间</span>
						      <input type="text" class="form-control" id="bayesion_iteration" name="bayesion_iteration">
						      
						    </div>
						    
						    <h4  class="col-sm-2 control-label t-r fz-16">模型迭代次数</h4>
						    <div class="col-sm-3 format-box">
						    	<span class="c-red format">模型迭代次数选择1到100之间</span>
						      <input type="text" class="form-control" id="model_iteration" name="model_iteration">
						      
						    </div>
						    
						    
						  </div>
						  
						  <div class="form-group col-md-12 mt-15">
						  	<h4  class="col-sm-2 control-label t-r fz-16">batch-size</h4>
						    <div class="col-sm-3 format-box">
						    	<span class="c-red format">batch-size可以选1到128之间的整数</span>
						      <input type="text" class="form-control" id="batch_size" name="batch_size">
						    </div>
						  </div>
						
						<div class="form-group col-md-12 mt-15 pdl-40">
						  <div class="form-group col-md-12 bdr">
						  	  <div class="col-md-3 form-group gd-box mt-30 mb-30 para-box1">
						  	  	<h4 class="col-md-10 fz-12 center mb-30">学习率(lr)</h4>
						  	  	
						  	  	<div class="col-md-12 format-box">
						  	  		<span class="c-red format pdl-40">学习率的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n checkbox-lr check-box">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para" class="check">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="lr_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="lr_up" id="" value="" class="form-control" />
								  	  	</div>
										<input type="hidden" value="" name="lr"/>
							  	</div>
						  	  	
						  	  </div>
						  	  <div class="col-md-3 form-group rmsprop-box rmsprop-momen mt-30 para-box2">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">动量(momentum)</h4>
							  	  	
							  	  	<div class="col-md-12 pd-n format-box">
							  	  		<span class="c-red format pdl-40">动量的范围是（0.1,0.9999）</span>
							  	  		<div class="col-md-1 pd-n checkbox-momen check-box">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para" class="check">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		
								  	  		<input type="text" name="momentum_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="momentum_up" id="" value="" class="form-control " />
								  	  	</div>
                                        <input type="hidden" value="" name="momentum"/>
							  	  	</div>
						  	  </div>
						  	  <div class="col-md-3 form-group rmsprop-box mt-30 para-box3">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">梯度衰减因子(decay)</h4>
							  	  	
							  	  	<div class="col-md-12 pd-n format-box">
							  	  		<span class="c-red format pdl-40">梯度衰减因子的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n check-box">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para" class="check">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		
								  	  		<input type="text" name="decay_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="decay_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="decay"/>
							  	  	</div>
						  	  </div>
						  	  
						  	  <div class="col-md-3 form-group adam-box mt-30 para-box4">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">指数衰减率1(beta1)</h4>
							  	  	
							  	  	<div class="col-md-12 pd-n format-box">
							  	  		<span class="c-red format pdl-40">指数衰减率1的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n check-box">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para" class="check">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		
								  	  		<input type="text" name="beta1_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="beta1_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="beta1"/>
							  	  	</div>
						  	  	</div>
						  	  	
						  	  	<div class="col-md-3 form-group adam-box mt-30  para-box5">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">指数衰减率2(beta2)</h4>
							  	  	<div class="col-md-12 format-box">
							  	  		<span class="c-red format pdl-40">指数衰减率2的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n  check-box">
							  	  			
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para" class="check">
												</label>
											</div>
								  	  	</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="beta2_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="beta2_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="beta2"/>
							  	  	</div>
							  	  	
						  	  	</div>

						  </div>
						</div>  
						  

						<div class="clone-box">
							<div class="col-md-12 bdr-b bdr-l bdr-r h-40 fen-list" style="padding: 0px;">
								<div class="col-md-3 bdr-r h-40">
									<input type="radio" name="" id="" value="" class="fenqu-checked" />
									<label></label>
								</div>
								<div class="col-md-3 bdr-r h-40">

								</div>
								<div class="col-md-3 bdr-r h-40">

								</div>
								<div class="col-md-3  h-40">

								</div>
							</div>
						</div>

						  
						  <h4>选择分区</h4>
						  	<div class="input-box  input-group col-md-12">

								<div class="c-box mt-15 input-group col-md-12" id="fenqu" style="padding-left: 40px;padding-right: 15px;">
									<div class="col-md-12 bdr" style="padding: 0px;">
										<div class="col-md-3 bdr-r h-80">
											分区名
										</div>
										<div class="col-md-9" style="padding: 0px;">
											<div class="col-md-12 h-40 bdr-b" style="text-align: center;">
												剩余配额
											</div>
											<div class="col-md-4 h-40 bdr-r">
												GPU
											</div>
											<div class="col-md-4 h-40 bdr-r">
												CPU
											</div>
											<div class="col-md-4 h-40">
												内存
											</div>
										</div>
									</div>

									<div class="col-md-12 fen-box" style="padding: 0px;background: #fff5ee;">




									</div>

								</div>

							</div>
							
							
							<h4 class="mt-30">资源配置</h4>
							<div class="form-group col-md-12 mt-15 pdl-40">
						  		<div class="form-group col-md-12 bdr pdtb-30">
						  			<div class="c-box col-md-4">
										<h4 class="col-sm-3 control-label t-r fz-16"><span class="x-span"></span>CPU</h4>
										<div class="input-group col-md-8">
											<select class="form-control" id="cpu_count" name="cpu_count">
												<option value="2">2</option>
												<option value="4" selected="selected">4</option>
												<option value="8">8</option>
											</select>	
											<span class="input-group-addon">Core</span>
										</div>
									</div>
									
									<div class="c-box col-md-4">
										<h4 class="col-sm-3 control-label t-r fz-16"><span class="x-span"></span>内存</h4>
										<div class="input-group col-md-8">
											<select class="form-control" id="memory_count" name="memory_count">
												<option value="8">8</option>
												<option value="16" selected="selected">16</option>
												<option value="32">32</option>
											</select>
											<span class="input-group-addon">GB</span>
										</div>
									</div>
									
									<div class="c-box col-md-4">
										<h4 class="col-sm-3 control-label t-r fz-16"><span class="x-span"></span>GPU</h4>
										<div class="input-group col-md-8">
											<select class="form-control" id="gpu_count" name="gpu_count">
											
												<option value="1" selected="selected">1</option>
												<option value="2">2</option>
												
											</select>
											<span class="input-group-addon">个</span>
										</div>
									</div>
									
						  		</div>
						  	</div>	
					</div>
					
					<div class="col-md-12 mt-30">
						<input type="reset" name="" id="" value="重置" class="tuning-btn hover-red"/>
						<input type="button" name="" id="" value="开始训练" class="tuning-btn bg-green c-white"/>
					</div>
			</form>
			
				</div>

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom bg-white">Copyright © 2017
					<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.</div>

			</div>
		</div>

		{% include 'new/public/script.html'%}
		<script src="{{url_for('static', filename='advance/js/tuning.js')}}" type="text/javascript" charset="utf-8"></script>

		<script>

            var clone_obj = JSON.parse(localStorage.getItem('clone'))
            if(clone_obj['flag'] == true){
                $.ajax({
                    type: 'get',
                    url: '/clone/' + clone_obj['job_id'],
                    success: function (e) {
                        console.log('-------',e)
						$('#homework_name').val(e.name);
						$('#dataset_file').val(e.dataset_file);
						console.log(e.optimize_type)
						// $('#opt-way').find("option[value="+e.optimize_type+"]").attr("selected",true);
                        $('#opt-fun').find("option[value="+e.optimize_method+"]").attr("selected",true);
						$('#bayesion_iteration').val(e.bayesion_iteration)
						$('#model_iteration').val(e.model_iteration);
						$('#batch_size').val(e.batch_size)
						$('#cpu_count').find("option[value="+e.cpu_count+"]").attr("selected",true);
                        $('#memory_count').find("option[value="+e.memory_count+"]").attr("selected",true);
                        $('#gpu_count').find("option[value="+e.gpu_count+"]").attr("selected",true);

                        console.log('=====',$('#fenqu .fenqu-checked'))
                        $('.fen-box .fenqu-checked').each(function () {
                            console.log('=====',$(this).next('label').html())
                            if($(this).next('label').html() == e.matchExpressions_values){

                                $(this).attr('checked','checked')
                            }
                        })

                        var optfun = e.optimize_method
						if(optfun == 'GD'){

						}else if(optfun == 'RMSProp'){
                            $('.para-box2').show()
                            $('.para-box3').show()
							$('.para-box2 .checkbox-momen').show()

						}else if(optfun == 'Adam'){
                            $('.para-box1 .checkbox-lr').show()
                            $('.para-box4').show()
                            $('.para-box5').show()

						}else if(optfun == 'Momentum'){
                            $('.para-box2').show()
                            $('.para-box2 .checkbox-momen').hide()
						}


                    }
                })
			}else{

			}



		</script>
	</body>

</html>