<!DOCTYPE html>
<html>

	<head>

		{% include 'new/public/meta.html'%}

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='advance/css/advance_user.css')}}" />

	</head>

	<body>
<style>
	/*.search{*/
		/*display: inline-block;*/
		/*width: 100px;*/
		/*background: #00b5b8;*/
		/*text-align: center;*/
		/*color: #fff;*/
		/*!* font-size: 20px; *!*/
		/*height: 34px;*/
		/*line-height: 34px;*/
		/*!* border-radius: 5px; *!*/
		/*position: absolute;*/
		/*z-index: 9;*/
		/*right: 0px;*/
	/*}*/
</style>
	{% include 'new/public/header.html'%}

		<div class="container-fluid" style="margin-top: 51px;">
			<div class="row" id="row-box">

				{% include 'new/public/left.html'%}

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 0px 20px;">

					<h4 class="page-header  h-50" style="margin: 0;">模型训练</h4>
					<div class="col-md-12 c-gray pd-n "> Welcome back, <span>{{request.cookies.username}}</span></div>
					<div class="col-md-12 b-nav bg-white mt-30">
						<ol class="breadcrumb bg-white mb-0 pdtb-15" >
							<li>
								<a href="/index" class="c-gray">Home</a>
							</li>

							<li class="c-green">模型训练</li>
						</ol>
					</div>
					
					<div class="col-md-12 mt-30 " style="background: #FFFFFF; padding:20px 30px; ">

						<div class="col-md-12 home-btn-box bdr-b">
							<span class="tab-btn1 tab-btn tab-color">单机任务</span>
							<span class="tab-btn2 tab-btn">分布式任务</span>
						</div>



						<!--提示框-->
						<div class="static">
							<div id="myAlert" class="alert col-md-6 alert-warning">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<strong>成功！</strong>
							</div>
						</div>


						
						<form  enctype="multipart/form-data" class="form1" id="single-form">


							<input type="hidden" value="" class="img-name" name="framework_name" />
							<input type="hidden" value="" class="img-tag" name="framework_tag" />
							<input type="hidden" value="" class="img-time" name="framework_time" />
							<input type="hidden" value="" class="fen-name" name="matchExpressions_values" />
						
						
						<!--step1-->
						<div class="step">
							<span>1</span>
							<h4>基本配置</h4>
						</div>
						<div class="c-box">
							<div class="input-box col-md-12">

								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>任务名</h4>
									<div class="input-group col-md-6">
										<input type="text" class="form-control vname" name="homework_name">
										<!--<span class="input-group-addon">.00</span>-->
									</div>
								</div>
								<div class="c-box mt-30 col-md-12 pd-n mb-30">
									<h4 class="col-md-3">代码文件</h4>
									<div class=" col-md-6 pd-n">
										<input type="text" class="form-control image_list_i_1">
										<span href="#" class="load-file">上传
											<input type="file" name="image_list" id="image_list1" value=""  multiple="multiple"/>
										</span>
									</div>
								</div>
								<div class="c-box mt-30">
									<h4 class="col-md-3">主文件名</h4>
									<div class="input-group col-md-6" style="position: relative;">
										<input type="text" class="form-control main_name" name="main_name" placeholder='文件全名'>


									</div>
								</div>
								<div class="c-box mt-30 other-frame">
									<h4 class="col-md-3">服务器路径</h4>
									<div class="input-group col-md-6">
										<input type="text" class="form-control autocomplete_path load-path1" name="server_path">
										<!--<span class="input-group-addon">.00</span>-->
									</div>
								</div>

								<div class="c-box mt-30 caffe-load">
									<div class="c-box col-md-12 pd-n" style="padding-left: 0">
										<h4 class="col-md-3">solver文件路径</h4>
										<div class="input-group col-md-6">
											<input type="text" class="form-control autocomplete_path caffe-load-path1" name="solver_path">
											<!--<span class="input-group-addon">.00</span>-->
										</div>
									</div>
									<div class="c-box col-md-12 mt-30 pd-n" style="padding-left: 0">
										<h4 class="col-md-3">train_val文件路径</h4>
										<div class="input-group col-md-6">
											<input type="text" class="form-control autocomplete_path caffe-load-path2" name="caffe_path">
											<!--<span class="input-group-addon">.00</span>-->
										</div>
									</div>
								</div>


								<div class="c-box col-md-12  mt-30" style="position: relative">
									<h4 class="col-md-3">选择框架</h4>
									<div class="input-group col-md-3">
										<select type="text" class="form-control select_framework" id="select_model_cj" name="framework">
											<!--<option value="caffe">caffe</option>-->
										</select>
										<!--<span class="input-group-addon">.00</span>-->

									</div>
									<i class="iconfont icon-shuaxin refresh-btn c-green"></i>


								</div>

							</div>
						</div>
						
						
						<!--step2-->
			
						<!--<div class="step">
							<span>2</span>
							<h4>选择数据集</h4>
						</div>
						<div class="c-box">
							<div class="input-box">

								
								<div class="c-box mt-30">
									<h4 class="col-md-3">选择数据集</h4>
									<div class="input-group col-md-3">
										<select type="text" class="form-control">
											<option value="mnist">mnist</option>
										</select>
										
									</div>
								</div>

							</div>
						</div>-->
						

						<!--step3-->

						<div class="step">
							<span>2</span>
							<h4>选择镜像</h4>
						</div>
						<div class="c-box">
							<div class="input-box col-md-12">
								<!--<div class="c-box mt-30">-->
									<!--<h4 class="col-md-3">镜像名</h4>-->
									<!--<div class="input-group col-md-6">-->
										<!--<input type="text" class="form-control">-->
										<!--<span class="search">-->
														<!--<i class="iconfont icon-chazhao fz-24"></i>-->
													<!--</span>-->
									<!--</div>-->
								<!--</div>-->

								<div class="c-box mt-30" style="padding-left: 40px;">
									<div class="input-group col-md-12 title-btn bdr-b">
										<span class="s-bdr">共享镜像</span>
										<span>私有镜像</span>
									</div>
								</div>



								<div class="clone-box">

									<div class="list-info input-group col-md-12 bdr-b bdr-l bdr-r img-detail img-list">
										<div class="col-md-4 bdr-r">
											<input type="radio" name="img" id="" value="" class="img-checked" />
											<label class="share_name"></label>
										</div>
										<div class="col-md-4 bdr-r share_tag"></div>
										<div class="col-md-4 share_time"></div>
									</div>



									<div class="col-md-12 bdr-b bdr-l bdr-r h-40 fen-list" style="padding: 0px;">
										<div class="col-md-3 bdr-r h-40">
											<input type="radio" name="partition" id="" value="" class="fenqu-checked"/>
											<label></label>

										</div>
										<div class="col-md-3 bdr-r h-40"></div>
										<div class="col-md-3 bdr-r h-40"></div>
										<div class="col-md-3  h-40"></div>
									</div>



								</div>





								<div class="c-box mt-30" style="padding-left: 40px;">

									<!--共享镜像-->
									<div class="input-group col-md-12 public-img">
										<div class="input-group col-md-12 bdr">
											<div class="col-md-4 bdr-r">
												镜像名
											</div>
											<div class="col-md-4 bdr-r">
												标签
											</div>
											<div class="col-md-4">
												创建时间
											</div>
										</div>

										<div class=" input-group col-md-12 public-img-list">


										</div>
									</div>

									<!--私有镜像-->
									<div class="input-group col-md-12 private-img">
										<div class="input-group col-md-12 bdr">
											<div class="col-md-4 bdr-r">
												镜像名
											</div>
											<div class="col-md-4 bdr-r">
												标签
											</div>
											<div class="col-md-4">
												创建时间
											</div>
										</div>

										<div class=" input-group col-md-12 private-img-list">


										</div>
									</div>

								</div>

							</div>
						</div>

						<!--step4-->

						<div class="step">
							<span>3</span>
							<h4>选择分区</h4>
						</div>
						<div class="c-box ">
							<div class="input-box  input-group col-md-12">

								<div class="c-box mt-30 input-group col-md-12" style="padding-left: 40px;">
									<div class="col-md-12 bdr" style="padding: 0px;">
										<div class="col-md-3 bdr-r h-80">
											分区名
										</div>
										<div class="col-md-9" style="padding: 0px;">
											<div class="col-md-12 h-40 bdr-b" style="text-align: center;">
												剩余配额
											</div>
											<div class="col-md-4 h-40 bdr-r">
												GPU
											</div>
											<div class="col-md-4 h-40 bdr-r">
												CPU
											</div>
											<div class="col-md-4 h-40">
												内存
											</div>
										</div>
									</div>

									<div class="col-md-12 fen-box" style="padding: 0px;background: #fff5ee;">




									</div>

								</div>

							</div>
						</div>

						<!--step5-->

						<div class="step">
							<span>4</span>
							<h4>资源配置</h4>
						</div>
						<div class="c-box">
							<div class="input-box col-md-12">

								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>CPU</h4>
									<div class="input-group col-md-6">
										<select class="form-control cpu_count" name="cpu_count">
											<option value="2">2</option>
											<option value="4" selected="selected">4</option>
											<option value="8">8</option>
										</select>	
										<span class="input-group-addon">Core</span>
									</div>
								</div>
								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>内存</h4>
									<div class="input-group col-md-6">
										<select class="form-control memory_count" name="memory">
											<option value="8">8</option>
											<option value="16" selected="selected">16</option>
											<option value="32">32</option>
										</select>
										<span class="input-group-addon">GB</span>
									</div>
								</div>
								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>GPU</h4>
									<div class="input-group col-md-6">
										<select class="form-control gpu_count" name="gpu_count">
											
											<option value="1" selected="selected">1</option>
											<option value="2">2</option>
											
										</select>
										<span class="input-group-addon">个</span>
									</div>
								</div>
								

							</div>
						</div>

						<div class="c-box col-md-12">
							 <div class="checkbox col-md-6" style="text-align: center;">
							    <label style="margin-left: 100px;">
							      <input type="checkbox" class="model-check">高级选项
							    </label>
							  </div>
						</div>
						<div class="c-box col-md-12 hide-box">
							<div class="c-box mt-30">
									<h4 class="col-md-3">参数（可选）</h4>
									<div class="input-group col-md-6">
											<div class="form-group">
											    
											    <textarea class="form-control parabox" rows="3" placeholder="--param=value" name="extra_parameter"></textarea>
											</div>
										
									</div>
							</div>
							<div class="c-box mt-30">
									<h4 class="col-md-3">运行时限</h4>
									<div class="input-group col-md-6">
											<input type="text" class="form-control runtime" name="max_run_time">
										
									</div>
							</div>
						</div>

						<div class="col-sm-12 bg-white" style="text-align: center; padding: 30px 0;">
							<input class="btn btn-sub bg-green c-white single-btn" type="button" value="提交">
							<input class="btn btn-default" type="reset" value="重置">
						</div>
						
						
					</form>	
					
					
					
					
					<!--分布式任务-->
					<form  enctype="multipart/form-data" class="form2"  id="distribute-form">


						<input type="hidden" value="" class="img-name" name="framework_name" />
						<input type="hidden" value="" class="img-tag" name="framework_tag" />
						<input type="hidden" value="" class="img-time" name="framework_time" />
						<input type="hidden" value="" class="fen-name" name="matchExpressions_values" />

						<!--step1-->
						<div class="step">
							<span>1</span>
							<h4>基本配置</h4>
						</div>
						<div class="c-box">
							<div class="input-box col-md-12">

								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>任务名</h4>
									<div class="input-group col-md-6">
										<input type="text" class="form-control" name="homework_name" id="distribute_name">
										<!--<span class="input-group-addon">.00</span>-->
									</div>
								</div>
								<div class="c-box mt-30 mb-30 col-md-12 pd-n">
									<h4 class="col-md-3">代码文件</h4>
									<div class="pd-n col-md-6" style="position: relative;">
										<input type="text" class="form-control image_list_i_2">
										<!--<span class="input-group-addon">.00</span>-->
										
											<span href="#" class="load-file">上传
											<input type="file" name="image_list" id="image_list2" value=""  multiple="multiple"/>
											</span>
										
									</div>
								</div>
								<div class="c-box mt-30">
									<h4 class="col-md-3">主文件名</h4>
									<div class="input-group col-md-6" style="position: relative;">
										<input type="text" class="form-control main_name" name="main_name" placeholder='文件全名'>


									</div>
								</div>
								<div class="c-box mt-30 other-frame">
									<h4 class="col-md-3">服务器路径</h4>
									<div class="input-group col-md-6">
										<input type="text" class="form-control autocomplete_path load-path2" name="server_path">
										<!--<span class="input-group-addon">.00</span>-->
									</div>
								</div>

								<div class="c-box mt-30 caffe-load">
									<div class="c-box col-md-12 pd-n" style="padding-left: 0">
										<h4 class="col-md-3">solver文件路径</h4>
										<div class="input-group col-md-6">
											<input type="text" class="form-control autocomplete_path caffempi-load-path1" name="solver_path">
											<!--<span class="input-group-addon">.00</span>-->
										</div>
									</div>
									<div class="c-box col-md-12 mt-30 pd-n" style="padding-left: 0">
										<h4 class="col-md-3">train_val文件路径</h4>
										<div class="input-group col-md-6">
											<input type="text" class="form-control autocomplete_path caffempi-load-path2" name="caffe_path">
											<!--<span class="input-group-addon">.00</span>-->
										</div>
									</div>
								</div>
								<div class="c-box col-md-12 mt-30" style="position: relative">
									<h4 class="col-md-3">选择框架</h4>
									<div class="input-group col-md-3">
										<select type="text" class="form-control select_framework" name="framework" id="select_model_cjs">
											<!--<option value="caffe">caffe</option>-->
										</select>
										<!--<span class="input-group-addon">.00</span>-->
									</div>
									<i class="iconfont icon-shuaxin refresh-btn c-green"></i>
								</div>

							</div>
						</div>

						<!--step2-->
			
						<!--<div class="step">
							<span>2</span>
							<h4>选择数据集</h4>
						</div>
						<div class="c-box">
							<div class="input-box">

								
								<div class="c-box mt-30">
									<h4 class="col-md-3">选择数据集</h4>
									<div class="input-group col-md-3">
										<select type="text" class="form-control">
											<option value="mnist">mnist</option>
										</select>
										
									</div>
								</div>

							</div>
						</div>-->


						<!--step3-->

						<div class="step">
							<span>2</span>
							<h4>选择镜像</h4>
						</div>
						<div class="c-box">
							<div class="input-box col-md-12">
								<div class="c-box mt-30">
									<h4 class="col-md-3">镜像名</h4>
									<div class="input-group col-md-6">
										<input type="text" class="form-control">
										<span class="search">
														<i class="iconfont icon-chazhao fz-24"></i>
										</span>
									</div>
								</div>

								<div class="c-box mt-30" style="padding-left: 40px;">
									<div class="input-group col-md-12 title-btn bdr-b">
										<span class="s-bdr">共享镜像</span>
										<span>私有镜像</span>
									</div>
								</div>

								<div class="c-box mt-30" style="padding-left: 40px;">

									<!--共享镜像-->
									<div class="input-group col-md-12 public-img">
										<div class="input-group col-md-12 bdr">
											<div class="col-md-4 bdr-r">
												镜像名
											</div>
											<div class="col-md-4 bdr-r">
												标签
											</div>
											<div class="col-md-4">
												创建时间
											</div>
										</div>

										<div class=" input-group col-md-12 public-img-list">


										</div>
									</div>

									<!--私有镜像-->
									<div class="input-group col-md-12 private-img">
										<div class="input-group col-md-12 bdr">
											<div class="col-md-4 bdr-r">
												镜像名
											</div>
											<div class="col-md-4 bdr-r">
												标签
											</div>
											<div class="col-md-4">
												创建时间
											</div>
										</div>

										<div class=" input-group col-md-12 private-img-list">


										</div>
									</div>

								</div>

							</div>
						</div>

						<!--step4-->

						<div class="step">
							<span>3</span>
							<h4>选择分区</h4>
						</div>
						<div class="c-box ">
							<div class="input-box  input-group col-md-12">

								<div class="c-box mt-30 input-group col-md-12" style="padding-left: 40px;">
									<div class="col-md-12 bdr" style="padding: 0px;">
										<div class="col-md-3 bdr-r h-80">
											分区名
										</div>
										<div class="col-md-9" style="padding: 0px;">
											<div class="col-md-12 h-40 bdr-b" style="text-align: center;">
												剩余配额
											</div>
											<div class="col-md-4 h-40 bdr-r">
												GPU
											</div>
											<div class="col-md-4 h-40 bdr-r">
												CPU
											</div>
											<div class="col-md-4 h-40">
												内存
											</div>
										</div>
									</div>

									<div class="col-md-12 fen-box" style="padding: 0px;background: #fff5ee;">




									</div>

								</div>

							</div>
						</div>

						<!--step5-->

						<div class="step">
							<span>4</span>
							<h4>资源配置</h4>
						</div>
						<div class="c-box">
							<div class="input-box col-md-12">
								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>CPU</h4>
									<div class="input-group col-md-6">
										<select class="form-control cpu_counts" name="cpu_count">
											<option value="2">2</option>
											<option value="4" selected="selected">4</option>
											<option value="8">8</option>
										</select>	
										<span class="input-group-addon">Core</span>
									</div>
								</div>
									
								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>内存</h4>
									<div class="input-group col-md-6">
										<select class="form-control memory_counts" name="memory">
											<option value="8">8</option>
											<option value="16" selected="selected">16</option>
											<option value="32">32</option>
										</select>
										<span class="input-group-addon">GB</span>
									</div>
								</div>
								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>GPU</h4>
									<div class="input-group col-md-6">
										<select class="form-control gpu_counts" name="gpu_count">
											
											<option value="1" selected="selected">1</option>
											<option value="2">2</option>
											
										</select>
										<span class="input-group-addon">个</span>
									</div>
								</div>
								
								<div class="c-box mt-30">
									<h4 class="col-md-3"><span class="x-span">*</span>节点数量</h4>
									<div class="input-group col-md-6">
										<input type="text" class="form-control node_counts" name="node_count">
										<span class="input-group-addon">个</span>
									</div>
								</div>

							</div>
						</div>

						<div class="c-box col-md-12">
							 <div class="checkbox col-md-6" style="text-align: center;">
							    <label style="margin-left: 100px;">
							      <input type="checkbox" class="model-check">高级选项
							    </label>
							  </div>
						</div>
						<div class="c-box col-md-12 hide-box">
							<div class="c-box mt-30">
									<h4 class="col-md-3">参数（可选）</h4>
									<div class="input-group col-md-6">
											<div class="form-group">
											    
											    <textarea class="form-control parabox" rows="3" placeholder="--param=value" name="extra_parameter"></textarea>
											</div>
										
									</div>
							</div>
							<div class="c-box mt-30">
									<h4 class="col-md-3">运行时限</h4>
									<div class="input-group col-md-6">
											<input type="text" class="form-control runtime"name="max_run_time">
										
									</div>
							</div>
						</div>

						<div class="col-sm-12 bg-white" style="text-align: center; padding: 30px 0;">
							<input class="btn btn-sub bg-green c-white distribute-btn" type="button" value="提交">
							<input class="btn btn-default" type="reset" value="重置">
						</div>
						
						
					</form>	
					
					
					
					
					
					
					
					
					</div>

				</div>

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom bg-white">Copyright © 2017
					<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.</div>

			</div>
		</div>

		{% include 'new/public/script.html'%}
		<script src="{{url_for('static', filename='advance/js/advance_user.js')}}" type="text/javascript" charset="utf-8"></script>

		<script>




            var clone_obj = JSON.parse(localStorage.getItem('clone'))
            if(clone_obj['flag'] == true){
                $.ajax({
                    type:'get',
                    url:'/clone/'+ clone_obj['job_id'],
                    success:function (e) {
                        console.log('--clone-job---',e)
						if(e.mode == 'single'){
                            $('.form1').show()
                            $('.form2').hide()

                            $('.form1 .vname').val(e.name)
                            $('.form1 .main_name').val(e.main_name)
							$('.form1 .fenqu-checked').each(function () {
								if($(this).next('label').html() == e.matchExpressions_values){
								    console.log('----fen---')
								    $(this).attr('checked','checked')
								}
                            })
							$('.form1 .parabox').val(e.extra_parameter)
                            $('.form1 .runtime').val(e.max_run_time)

                            $(".form1 .gpu_count").find("option[value="+e.gpu_count +"]").attr("selected",true);
                            $(".form1 .cpu_count").find("option[value="+e.cpu_count +"]").attr("selected",true);
                            $(".form1 .memory_count").find("option[value="+e.memory_count +"]").attr("selected",true);


                            $(".form1 .select_framework").find("option[value="+e.framework +"]").attr("selected",true);
                            var framework = e.framework
							if(framework == 'caffe'){
                                $('.form1 .other-frame').hide()
								$('.form1 .caffe-load').show();
                                // $('.form1 .caffe-load-path1').val(e.solver_path)
                                // $('.form1 .caffe-load-path2').val(e.caffe_path)
							}else{
                                $('.form1 .caffe-load').hide()
                                $('.form1 .other-frame').show();
                                // $('.form1 .load-path1').val(e.server_path)
							}



                            $.post('/vip/frame_select', {'frame_obj': ''}, function (e) {

                               var frame_arry1 = e.single_frame[2]['image']
                               var public_img1 = e.single_frame[0]['share_value']
                               var private_img1 = e.single_frame[1]['private_value']
                                $('.form1 .public-img-list').children().remove()
                                $('.form1 .private-img-list').children().remove()
                                for (var j = 0; j < frame_arry1.length; j++) {

                                   if(framework == frame_arry1[j]){

                                       if(public_img1 == undefined || public_img1[frame_arry1[0]] == undefined){

                                       }else{

                                           for (var i = 0, len = public_img1[framework].length; i < len; i++) {


                                               var year = new Date(public_img1[framework][i][2]).getFullYear()
                                               var month = new Date(public_img1[framework][i][2]).getMonth()+1
                                               var date = new Date(public_img1[framework][i][2]).getDate()
                                               var hour = new Date(public_img1[framework][i][2]).getHours();
                                               var min = new Date(public_img1[framework][i][2]).getMinutes();
                                               var second = new Date(public_img1[framework][i][2]).getSeconds();
                                               if(month < 10){
                                                   month = '0' + month
                                               }
                                               if(date <10){
                                                   date = '0'+date
                                               }
                                               if(hour < 10){
                                                   hour = '0' + hour
                                               }
                                               if(min < 10){
                                                   min = '0' + min
                                               }
                                               if(second < 10){
                                                   second = '0' + second
                                               }

                                               $('.clone-box .img-detail').clone().appendTo($('.form1 .public-img-list'))
                                               $('.form1 .public-img-list .img-detail').eq(i).find('.share_name').html(public_img1[framework][i][0])
                                               $('.form1 .public-img-list .img-detail').eq(i).find('.share_tag').html(public_img1[framework][i][1])
                                               $('.form1 .public-img-list .img-detail').eq(i).find('.share_time').html(year+'-'+month+'-'+date+' '+hour+':'+min+':'+second)
                                           }
									   }



                                       if(private_img1 == undefined || private_img1[framework] == undefined){

                                       }else{
                                           for (var i = 0, len = private_img1[framework].length; i < len; i++) {
                                               var year = new Date(private_img1[framework][i][2]).getFullYear()
                                               var month = new Date(private_img1[framework][i][2]).getMonth()+1
                                               var date = new Date(private_img1[framework][i][2]).getDate()
                                               var hour = new Date(private_img1[framework][i][2]).getHours();
                                               var min = new Date(private_img1[framework][i][2]).getMinutes();
                                               var second = new Date(private_img1[framework][i][2]).getSeconds();
                                               if(month < 10){
                                                   month = '0' + month
                                               }
                                               if(date <10){
                                                   date = '0'+date
                                               }
                                               if(hour < 10){
                                                   hour = '0' + hour
                                               }
                                               if(min < 10){
                                                   min = '0' + min
                                               }
                                               if(second < 10){
                                                   second = '0' + second
                                               }


                                               $('.clone-box .img-detail').clone().appendTo($('.form1 .private-img-list'))
                                               $('.form1 .private-img-list .img-detail').eq(i).find('.share_name').html(private_img1[framework][i][0])
                                               $('.form1 .private-img-list .img-detail').eq(i).find('.share_tag').html(private_img1[framework][i][1])
                                               $('.form1 .private-img-list .img-detail').eq(i).find('.share_time').html(year+'-'+month+'-'+date+' '+hour+':'+min+':'+second)
                                           }
                                       }


								   }

                                }
							})
						}else{
                            $('.form2').show()
                            $('.form1').hide()

                            $('.tab-btn').each(function () {
								if($(this).html() == '分布式任务'){
                                    $(this).addClass('tab-color').siblings().removeClass('tab-color')
								}
                            })


                            $('.form2 .vname').val(e.name)
                            $('.form2 .main_name').val(e.main_name)

                            $('.form2 .fenqu-checked').each(function () {
                                if($(this).next('label').html() == e.matchExpressions_values){
                                    console.log('----fen---')
                                    $(this).attr('checked','checked')
                                }
                            })

                            $('.form2 .parabox').val(e.extra_parameter)
                            $('.form2 .runtime').val(e.max_run_time)

                            $(".form2 .gpu_counts").find("option[value="+e.gpu_count +"]").attr("selected",true);
                            $(".form2 .cpu_counts").find("option[value="+e.cpu_count +"]").attr("selected",true);
                            $(".form2 .memory_counts").find("option[value="+e.memory_count +"]").attr("selected",true);
                            $(".form2 .node_counts").val(e.node_count)

                            $(".form2 .select_framework").find("option[value="+e.framework +"]").attr("selected",true);
                            var framework = e.framework
                            if(framework == 'caffempi'){
                                $('.form3 .other-frame').hide()
                                $('.form2 .caffe-load').show();
                                // $('.form2 .caffempi-load-path1').val(e.solver_path)
                                // $('.form2 .caffempi-load-path2').val(e.caffe_path)
                            }else{
                                $('.form2 .caffe-load').hide()
                                $('.form2 .other-frame').show();
                                // $('.form2 .load-path2').val(e.server_path)
                            }




                            $.post('/vip/frame_select', {'frame_obj': ''}, function (e) {
                                var frame_arry1 = e.distributed_frame[2]['image']
                                var public_img1 = e.distributed_frame[0]['share_value']
                                var private_img1 = e.distributed_frame[1]['private_value']
                                $('.form2 .public-img-list').children().remove()
                                $('.form2 .private-img-list').children().remove()
                                for (var j = 0; j < frame_arry1.length; j++) {

                                    if(framework == frame_arry1[j]){

                                        if(public_img1 == undefined || public_img1[frame_arry1[0]] == undefined){

                                        }else{

                                            for (var i = 0, len = public_img1[framework].length; i < len; i++) {

                                                var year = new Date(public_img1[framework][i][2]).getFullYear()
                                                var month = new Date(public_img1[framework][i][2]).getMonth()+1
                                                var date = new Date(public_img1[framework][i][2]).getDate()
                                                var hour = new Date(public_img1[framework][i][2]).getHours();
                                                var min = new Date(public_img1[framework][i][2]).getMinutes();
                                                var second = new Date(public_img1[framework][i][2]).getSeconds();
                                                if(month < 10){
                                                    month = '0' + month
                                                }
                                                if(date <10){
                                                    date = '0'+date
                                                }
                                                if(hour < 10){
                                                    hour = '0' + hour
                                                }
                                                if(min < 10){
                                                    min = '0' + min
                                                }
                                                if(second < 10){
                                                    second = '0' + second
                                                }

                                                $('.clone-box .img-detail').clone().appendTo($('.form2 .public-img-list'))
                                                $('.form2 .public-img-list .img-detail').eq(i).find('.share_name').html(public_img1[framework][i][0])
                                                $('.form2 .public-img-list .img-detail').eq(i).find('.share_tag').html(public_img1[framework][i][1])
                                                $('.form2 .public-img-list .img-detail').eq(i).find('.share_time').html(year+'-'+month+'-'+date+' '+hour+':'+min+':'+second)
                                            }
                                        }



                                        if(private_img1 == undefined || private_img1[framework] == undefined){

                                        }else{
                                            for (var i = 0, len = private_img1[framework].length; i < len; i++) {
                                                var year = new Date(private_img1[framework][i][2]).getFullYear()
                                                var month = new Date(private_img1[framework][i][2]).getMonth()+1
                                                var date = new Date(private_img1[framework][i][2]).getDate()
                                                var hour = new Date(private_img1[framework][i][2]).getHours();
                                                var min = new Date(private_img1[framework][i][2]).getMinutes();
                                                var second = new Date(private_img1[framework][i][2]).getSeconds();
                                                if(month < 10){
                                                    month = '0' + month
                                                }
                                                if(date <10){
                                                    date = '0'+date
                                                }
                                                if(hour < 10){
                                                    hour = '0' + hour
                                                }
                                                if(min < 10){
                                                    min = '0' + min
                                                }
                                                if(second < 10){
                                                    second = '0' + second
                                                }


                                                $('.clone-box .img-detail').clone().appendTo($('.form2 .private-img-list'))
                                                $('.form2 .private-img-list .img-detail').eq(i).find('.share_name').html(private_img1[framework][i][0])
                                                $('.form2 .private-img-list .img-detail').eq(i).find('.share_tag').html(private_img1[framework][i][1])
                                                $('.form2 .private-img-list .img-detail').eq(i).find('.share_time').html(year+'-'+month+'-'+date+' '+hour+':'+min+':'+second)
                                            }
                                        }





                                    }

                                }
                            })


						}



                    }
                })
            }



		</script>

	</body>

</html>