.title-btn {
    height: 40px;
    line-height: 40px;
}
.title-btn .s-bdr {
    color: #00B5B8;
    border-bottom: 1px solid #00B5B8;
}
.title-btn span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}
.depart-box{
	display: none;
}
.title-btn .create-btn{
	height: 30px;
	line-height: 30px;
	/*border-radius: 5px;*/
	background: #00b5b8;
	color: #FFFFFF;
	padding: 0 10px;
}
.title-btn .create-user{
	margin-right: 0;
}
.title-btn .create-depart{
	display: none;
}
.btn-primary:focus {
    color: #fff;
    background-color: #00b5b8;
    border-color: #00b5b8;
}

.user-box{
	display: none;
}
.span-box{
	display: inline-block;
    position: relative;
    width: 40px;
}
.span-box em{
	position: absolute;
    width: 30px;
    top: -10px;
    left: -4px;
    font-size: 12px;
    display: none;
}
.span-box:hover{
	color: #00B5B8;
}
.span-box:hover em{
	display: block;
}
.departname{
    cursor: pointer;
}
.usergpu-btn{
    border: none;
    background: #ffffff;
}
.btn-gray{
    border:1px solid rgb(153, 153, 153);
    color: rgb(153, 153, 153);
}
.btn-green{
    border: 1px solid #00b5b8;
    color: #00b5b8;
}
.usergpu-btn:focus{
    outline: none;
}