{% extends 'new/public.html' %}
{% block topfile %}
    <link rel="shortcut icon" href="{{url_for('static', filename='images/bitbug_favicon.ico')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/public.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/sub.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/iconfont.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/iCheck/skins/minimal/grey.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/calendar.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>
    <!--[if lt IE 9]>
      <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
    <![endif]-->
<style type="text/css">
    body{
        background: #EDEFF0;
    }
    .path-box{
        display: block;
        width: 600px;
        height: 300px;
        background-color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        /*border-radius: 10px;*/
        box-shadow: 0 0 10px #DEDCE1;
    }
    .btn{
        display: block;
        width: 100%;
        padding: 5px;
    }
    .btn a{
        display: block;
        width: 80px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #00B5B8;
        border-radius: 5px;

    }
    .path-info{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        min-height: 100px;
        margin-top: 70px;
        padding: 10px;
        word-break: break-all;
        word-wrap: break-word;
    }
    .right-bottom{
        position: fixed;
        bottom: 0;
    }
    </style>
{% endblock topfile%}
{% block rightcontent %}
<body>
<div class="path-box">
    <div class="btn">
        <a href="{{ url_for('hyperai.views.datasets') }}">返回</a>
    </div>
    <div class="path-info">
{{path}}
    </div>
</div>
</body>
{% endblock rightcontent %}
