{% extends 'new/public.html' %}

{% block topfile %}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/bitbug_favicon.ico') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ZK_last11/public.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ZK_last11/sub.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ZK_last11/iconfont.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product-monitoring.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ZK_last11/calendar.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/modetrain_a.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/c3.min..js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Feffects.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/CustomScrollbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqmeter.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/public.js') }}"></script>
{% endblock topfile%}

{% block rightcontent %}

<div class="f-l title">
    <h1 class="f-l c-grayblue"> 模型产品 </h1>
    <span class="f-l c-gray"> Welcome back {{request.cookies.username}}</span>
</div>
<div class="f-l sub-title bgc-white">
    <a href="{{url_for('hyperai.views.index')}}" class="f-l c-gray c-aqua-h"><span class="f-l"> Home</span><em class="f-l c-gray"> / </em></a>
    <a href="{{url_for('hyperai.ration.views.show')}}" class="f-l c-gray c-aqua-h"><span class="f-l"> 模型产品</span><em class="f-l c-gray"> / </em></a>

    <a href="#" class="f-l c-gray c-aqua-h"><span class="f-l"> {{job.name}}</span><em class="f-l c-gray"> / </em></a>
</div>
<style>
    .w-75{width:75%; }
    .w-25{width:25%; }
    .infer_img_box,.infer_txt_box{height: 500px}
    .infer_img{
        height: 400px;
        width: auto;

        margin: 0 auto;
        margin-top: 50px;
    }
    .infer_txt{height: 90%}
    .infer_btn{height:40px;}
    .infer_btn_box{margin:0 20px;
        position: relative;
        height:40px;
    }
    @media screen and (max-width: 1450px) {
        .infer_btn_box{margin:0 5px;
        }
    }
    .infer_btn_div,.infer_btn_submit{height: 40px;
        line-height: 40px;
        background: #00b5b8;
        color: white;
        width: 100px;
        text-align: center;
        font-size: 16px;
    }
    .infer_btn_submit{outline: none;
        border:none;
    }
    .infer_btn_ipt{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        opacity: 0;
    }
    .alert_box{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.3);
        left: 0;
        top:0;
        z-index: 9999;
    }
    .alert_div{width: 500px;
        height: 200px;
        margin:0 auto;
        background: white;
        margin-top: 200px;
    }
    .alert_text{line-height: 100px;
        text-align: center;
        height: 150px;
    }
    .alert_btn{
        line-height: 45px;
        font-family: "微软雅黑";
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        padding:0 40px;
        background: #00b5b8;
        color: white;
        margin-right: 20px;
    }
    .alert_btn:hover{background: #FF6376;}
</style>
<div class="alert_box" style="display: none">
    <div class="alert_div">
            <h3 class="alert_text">
                请上传需要预测的图片
            </h3>
        <div class="alert_btn f-r">确定</div>
    </div>
</div>
<div class="f-l lis-g bgc-white">
    <div class="title">
        <div class="l-box">
            <h2 class="f-l c-grayblue"><i class="f-l iconfont fz-38 pr-5 m-t5 c-aqua"> &#xe625; </i><strong>API预测</strong></h2>
        </div>
    </div>

    <div class="f-l c-box m-t15">
        <form id="infer_form" action="{%if job.select_scence == 'image-object-detection'%}{{url_for('hyperai.ration.views.detect_infer',job_id=job.id())}}{%else%}{{url_for('hyperai.ration.views.classify_infer',job_id=job.id())}}{%endif%}" enctype="multipart/form-data" method="post">
            <div class="f-l w-75 infer_img_box bdr">
                <img src="{{output_jpg}}" alt="" class="infer_img">
            </div>
            <div class="f-r w-25 infer_txt_box bdr">
                <div class="infer_txt">
                    <div>
                        {%if show%}
                        结果：{%for i in job.content%}
                        <p>{{i}} </p>
                        {%endfor%}
                        {%endif%}
                        <p>成功次数：{{job.count_success}}</p>
                        <P>失败次数：{{job.count_fail}}</P>
                    </div>
                </div>
                <div  class="infer_btn">
                    <div class="f-l infer_btn_box">
                        <div class="f-r infer_btn_div">上传图片</div>
                        <input class="f-r infer_btn_ipt" type="file" id="data_file" name="data_file">
                    </div>
                    <div class="f-r infer_btn_box">
                        <input type="button" class="infer_btn_submit" value="提交">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $("#data_file").on('change',function () {
        var url_img=this.files[0];
        $('.infer_img').attr('src',window.URL.createObjectURL(url_img))
    })
    $(".infer_btn_submit").on('click',function () {
        console.log($('#data_file').val())
        if($('#data_file').val()==""){
           $('.alert_box').css('display','block')
        }else {
           $('#infer_form').submit()
        }

    })
    $('.alert_btn').on('click',function () {
        $('.alert_box').css('display','none')
    })
</script>

{% endblock rightcontent %}

{% block bottomfile %}
<script type="text/javascript" src="{{ url_for('static', filename='js/product-monitoring.js') }}" ></script>
{% endblock bottomfile %}