{% extends 'new/public.html' %}
{% from "helper.html" import serve_file %}

{% block topfile %}
    <link rel="shortcut icon" href="{{url_for('static', filename='images/bitbug_favicon.ico')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/public.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/sub.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/iconfont.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/iCheck/skins/minimal/grey.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/calendar.css')}}" />
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
    <!--[if lt IE 9]>
      <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
    <![endif]--> 
{% endblock topfile%}

{% block rightcontent %}
            <div class="f-l title">
            	<h1 class="f-l c-grayblue"> 日志 </h1>
            	<span class="f-l c-gray"> Welcome back,{{request.cookies.username}}</span>
            </div>
            
			      <div class="f-l sub-title bgc-white">
			      	<a href="{{ url_for('hyperai.views.index') }}" class="f-l c-gray c-aqua-h"><span class="f-l"> Home   </span><em class="f-l c-gray"> / </em></a>
			      	<a href="log.html" class="f-l c-gray c-aqua-h"><span class="f-l"> 日志 </span><em class="f-l c-gray"> / </em></a> 
			      	<!--<a href="#" class="f-l c-gray c-aqua-h"><span class="f-l"> 数据集日志 </span><em class="f-l c-gray"> / </em></a>--> 
			      </div>
 
            <div class="f-l lis-w bgc-white">
			     		<div class="f-l tab-box slide-tab">
				      	<div class="f-l hd">
				        	<ul class="f-l">
				          	<li class="f-l lis-w-hdli c-grayblue"> 日志   </li>

				        	</ul>
				      	</div>
				      	<div class="f-l bd m-t15">
				        	<ul class="f-l" style="width: 100%">
					        	<li class="f-l lis-w-bdli">
					        		<div class="table bdr bgc-white">
					            	<div class="table-tr bgc-gray-c">
					            		<div class="table-th bdr-l w-20 c-grayblue"> 名称 </div>
					            		<div class="table-th bdr-l w-20 c-grayblue"> 日志文件   </div>
					            		<div class="table-th bdr-l w-20 c-grayblue"> 产生时间   </div>
					            		<div class="table-th bdr-l w-20 c-grayblue"> 大小       </div>
					            		<div class="table-th bdr-l w-20 c-grayblue"> 下载       </div>
					            	</div>
                                    {%if job.log == True%}
					            	<div class="table-tr">
										{%set task = job.create_db_tasks()[0]%}
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> {{job.name()}}    </p></div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray">   {{task.name()}}      </p></div>
					            		<!--<div class="bdr-l bdr-t table-td w-20"><em class="bgc-Aqua c-white m-t15">  </em><span class=" fz-12 ta-c c-grayblue"> {{job.create_time}}  </span></div>-->
					            		<div class="bdr-l bdr-t table-td w-20 fz-12 ta-c c-gray" style="line-height: 75px"> {{job.create_time}} </div>
										<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> {{job.getDocSize()}}         </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 log_href_onload">

											{% if task.create_db_log_file %}
											{{serve_file(task, task.create_db_log_file)}}
											{% endif %}
					            			<a href="#" class="f-l p-text-1 c-green-h ta-c c-gray"><i class="iconfont fz-24"> &#xe600; </i></a>
					            		</div>
										<style>
											.log_href_onload{
												position: relative;}
											.log_href_onload a:first-child{
												position: absolute;
												float: left;
												width: 100%;
												height:100%;
												opacity:0;
												left:0;
												top:0;
											}
										</style>
					            	</div>
					          	</div>

					          </li>
				        	</ul>
							{%elif job.log ==False %}
							<div class="table-tr">
										 {% set task = job.train_task() %}
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray">{{job.name()}}    </p></div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> {{task.name()}}         </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 fz-12 ta-c  c-gray" style="line-height: 75px"> {{job.create_time}}  </div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> {{job.getDocSize()}}        </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 log_href_onload_model">
											 {% if task.log_file %}
												{{serve_file(task, task.log_file)}}
												{% endif %}
											<a href="#" class="f-l p-text-1 c-green-h ta-c c-gray"><i class="iconfont fz-24"> &#xe600; </i></a>
					            		</div>
										<style>
											.log_href_onload_model{
												position: relative;}
											.log_href_onload_model a:first-child{
												position: absolute;
												float: left;
												width: 100%;
												height:100%;
												opacity:0;
												left:0;
												top:0;
											}
										</style>
					            	</div>
							{% elif job.log == 'dis'%}
							<div class="table-tr">
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray">{{job.name()}}    </p></div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> 高级用户日志         </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 fz-12 ta-c  c-gray" style="line-height: 75px"> {{job.create_time}}  </div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> {{job.getDocSize()}}        </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 log_href_onload_model">
											<a href="{{ url_for('hyperai.vip.views.download_log', name='single',framework=job.framework,job_id=job.id())}}" class="f-l p-text-1 c-green-h ta-c c-gray"><i class="iconfont fz-24"> &#xe600; </i></a>
					            		</div>
										<!--<style>-->
											<!--.log_href_onload_model{-->
												<!--position: relative;}-->
											<!--.log_href_onload_model a:first-child{-->
												<!--position: absolute;-->
												<!--float: left;-->
												<!--width: 100%;-->
												<!--height:100%;-->
												<!--opacity:0;-->
												<!--left:0;-->
												<!--top:0;-->
											<!--}-->
										<!--</style>-->
					            	</div>
						{% elif job.log == 'para'%}
							<div class="table-tr">
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray">{{job.name()}}    </p></div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> 超参日志文件         </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 fz-12 ta-c  c-gray" style="line-height: 75px"> {{job.create_time}}  </div>
					            		<div class="bdr-l bdr-t table-td w-20"><p class="f-l p-text-1 fz-12 ta-c c-gray"> {{job.getDocSize()}}        </p></div>
					            		<div class="bdr-l bdr-t table-td w-20 log_href_onload_model">
											<a href="{{ url_for('hyperai.tuning.views.download_log', job_id=job.id(), name='au_tune_output.log')}}" class="f-l p-text-1 c-green-h ta-c c-gray"><i class="iconfont fz-24"> &#xe600; </i></a>
					            		</div>
										<!--<style>-->
											<!--.log_href_onload_model{-->
												<!--position: relative;}-->
											<!--.log_href_onload_model a:first-child{-->
												<!--position: absolute;-->
												<!--float: left;-->
												<!--width: 100%;-->
												<!--height:100%;-->
												<!--opacity:0;-->
												<!--left:0;-->
												<!--top:0;-->
											<!--}-->
										<!--</style>-->
					            	</div>
                         {%endif%}
				      	</div>        
			      	</div>		 	              
            </div>
	       {% endblock rightcontent%}

{% block bottomfile %}

    <script type="text/javascript" src="{{url_for('static', filename='js/Feffects.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='plugins/iCheck/icheck.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jq-datepicker.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.nicescroll.js')}}"></script>
    <!--<script type="text/javascript" src="js/echarts.min.js"></script>-->   
    <script type="text/javascript" src="{{url_for('static', filename='js/jqmeter.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>
  	<script type="text/javascript" src="{{url_for('static', filename='js/paging.js')}}" ></script>
  	<script type="text/javascript" src="{{url_for('static', filename='js/log.js')}}" ></script>
<script>
	$('.container').children().eq(2).css("minHeight",'650px')
</script>
 {% endblock bottomfile %}