<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" />
    <meta name="keywords" content="DistantSound" />
    <meta name="author" content="DistantSound" />
    <meta name="format-detection" content="telephone=no" />

    <title>中科弘云</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/bitbug_favicon.ico')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/public.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/iconfont.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/iCheck/skins/minimal/grey.css')}}" />
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/reg.css')}}" />-->
    <!--[if lt IE 9]>
    <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
</head>
<style>
    .form-error{
        font-size: 12px;
        color: red;
        font-weight:200;
        margin-top: 10px;
        margin-left: 30px;
    }
    .user-pwd,.user-prepwd,.user-forms,.user-tel,.user-email,.user-namenew,.user-nameold{
        display:none;
    }
    .h-40{height: 40px;}
    .fz-14{font-size: 14px;font-weight: 100}
    .w-100{width: 100%;}
    .mar-t20{margin-top: 20px}
    .u-reg-r{position: relative;}
    .user-verify{
        }
    .u-login hr{width: 100%}
    .u-login{position: absolute;
        bottom: 30px;
        left:0px;
        width: 100%;
    }
    .u-login h3{
        margin-left:97px;}
    .alert-text{height: 40px;font-size: 14px;color: red;line-height: 40px;margin:20px 0px;}
</style>
<body class="bg-body">
<div class="f-l u-reg-box">
    <div class="f-l u-reg-l">
        <img src="{{url_for('static', filename='images/logo_new.png')}}" class="f-l" />
    </div>
    <div class="f-r u-reg-r">
        <h1 class="f-l c-aqua"><i class="f-l iconfont fz-30"> &#xe615; </i>
        </h1>
        <h2 class="f-l c-aqua bdr-b"> 欢迎使用--- <strong class=" c-grayblue"> HyperAI Cloud  </strong></h2>
        <div class="f-l c-aqua user-verify mar-t20">
            <div class="f-l u-reg user-text">
                <input type="text" name="" placeholder="请输入账户" maxlength="16" id="" class="f-l bdr-n u-info bdr-b c-gray user-user" />
            </div>
            <div class="f-l u-reg user-text">
                <input type="text" name="" placeholder="请输入验证问题:您的手机号" maxlength="16" id="" class="f-l bdr-n u-info bdr-b c-gray ipt-iphone" />
            </div>
            <div class="f-l u-reg password-text" style="display: none;">
                <input type="password" name="" placeholder="请输入您的新密码" maxlength="16" id="" class="f-l bdr-n u-info bdr-b c-gray password-new" />
            </div>
            <div class="f-l u-reg password-text" style="display: none;">
                <input type="password" name="" placeholder="请再次输入您的新密码" maxlength="16" id="" class="f-l bdr-n u-info bdr-b c-gray password-new2" />
            </div>
            <div class="f-l u-reg alert-text" style="text-align: left">

            </div>
            <div class="f-l u-reg mar-t20">
                <input type="button" name="" id="" value="确定" class="f-r btn-reg  bgc-Aqua bgc-red-h c-white button-yn"/>
                <input type="button" name="" id="" value="确定" class="f-r btn-reg  bgc-Aqua bgc-red-h c-white button-yn2" style="display: none"/>
            </div>
        </div>
        <div class="f-l u-login" style="height: 40px;margin-top: 15px">
            <hr/>
            <h3 class="f-l bgc-white"> 已有账号，<a href="{{url_for('hyperai.passport.views.login')}}"
                                               class="c-aqua-h c-red href-url"> 返回登陆 </a></h3>
        </div>
    </div>
    <p class="f-l c-white"> Copyright © 2017 <a href="#" class="c-aqua c-red-h"> 中科弘云科技（北京）有限公司,</a> All rights reserved. </p>
</div>
<script>
$('.button-yn').on('click',function () {
    $.ajax({
        type:"POST",
        url:"/user/forget_password",
        data:{'user':$('.user-user').val(),'verify':$('.ipt-iphone').val()},
        async:"",
        success:function (res) {
            console.log(res)
            if(res.res==0){
                $('.user-text').css('display','none')
                $('.password-text').css('display','block')
                $('.button-yn2').css('display','block')
                $('.button-yn').css('display','none')
                $('.alert-text').html(' ')
            }
            else if(res.res==1){
                $('.alert-text').html('手机号有误,请重新输入')
            }
            else if(res.res==2){
                $('.alert-text').html('用户名不存在，请重新输入')
            }
        }
    })
})
$('.button-yn2').on('click',function () {
    var pattern = /^[a-z0-9_-]{6,18}$/;
    if(($('.password-new').val()=='')&&($('.password-new2').val()=='')){
        $('.alert-text').html('密码不能为空')
    }
    else if(!pattern.test($('.password-new').val()) && !pattern.test($('.password-new2').val())){
        $('.alert-text').html('密码格式不正确，6-18位字母、数字、下划线')
    }
    else if(($('.password-new').val() == $('.password-new2').val()) && ($('.password-new').val()!=='')){
        $.ajax({
            type:"POST",
            url:"/user/update_password",
            data:{'user':$('.user-user').val(),'password':$('.password-new').val()},
            async:"",
            success:function (res) {
//                console.log(res)
//                console.log($('.href-url').attr('href'))
                window.location.href=$('.href-url').attr('href')
            }
        })
    }else{
        $('.alert-text').html('两次密码不一至,请重新输入')
    }


})
</script>
</body>
