{% extends 'new/public.html' %}


{% block topfile %}
    <link rel="shortcut icon" href="{{url_for('static', filename='images/bitbug_favicon.ico')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/public.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/sub.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/iconfont.css')}}" />
<!--    <link rel="stylesheet" type="text/css" href="plugins/iCheck/skins/minimal/grey.css" />-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ZK_last11/calendar.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/shareshop_all.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Feffects.js')}}"></script>
    <!--<script type="text/javascript" src="plugins/iCheck/icheck.min.js"></script>--> 
    <!--<script type="text/javascript" src="js/jq-datepicker.js"></script>--> 
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.nicescroll.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jqmeter.min.js')}}"></script>
    <!--<script type="text/javascript" src="plugins/jqueryraty/jquery.raty.min.js"></script>-->          
    <script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>
    <!--[if lt IE 9]>
      <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
    <![endif]--> 
 {% endblock topfile%}

{% block rightcontent %}
<style>
	.container{min-height: 88vh;}
</style>
            <div class="f-l title">
            	<h1 class="f-l c-grayblue"> 共享商店 </h1>
            	<span class="f-l c-gray"> Welcome back, {{request.cookies.username}} </span>
            </div>
            
			      <div class="f-l sub-title bgc-white">
			      	<a href="{{ url_for('hyperai.views.index') }}" class="f-l c-gray c-aqua-h"><span class="f-l"> Home   </span><em class="f-l c-gray"> / </em></a>
			      	<a href="#" class="f-l c-gray c-aqua-h"><span class="f-l"> 共享商店 </span><em class="f-l c-gray"> / </em></a> 
				  </div>
 
            <div class="f-l lis-v">
			     		<div class="f-l tab-box slide-tab">
				      	<div class="c-box bgc-white">
					      	<div class="l-box w-30">
						      	<div class="f-l hd">
						        	<ul class="f-l">
						          	<li class="f-l lis-w-hdli c-grayblue">数据商店</li>
						          	<li class="f-l lis-w-hdli c-grayblue">模型商店</li>
						        	</ul>
						      	</div>
					      	</div>
					        <div class="r-box"><input type="search" placeholder="输入需要查找的数据集或模型名称" class="f-l c-gray input-info bdr-n bdr-b btn_select_i_text" /><a href="#" class="f-l btn-3 c-gray c-red-h btn_select_i"><i class="f-l iconfont fz-24"> &#xe608; </i></a></div>
						</div>
				      	<div class="f-l bd">
				        	<ul class="f-l lis-vul shop_date_all" style="width: 100%">
								 <div class="f-l filterbox bgc-white">
												<div class="f-l filter-div bdr-b">
												  <h2 class="f-l c-grayblue">场景：</h2>
												  <ul class="f-l filter-list data_select_scene">
													  <li class="f-l sort-s filter-currentr c-gray data_select_scene_span"><span class="">None</span><p style="display: none">default</p></li>
													  <li class="f-l sort-s c-gray data_select_scene_span"><span class="">图像分类</span><p style="display: none;">Image Classification Dataset</p></li>
													  <li class="f-l sort-s c-gray data_select_scene_span"><span class="">目标检测</span><p style="display: none;">image-object-detection</p></li>
													  <li class="f-l sort-s c-gray data_select_scene_span"><span class="">图像分割</span><p style="display: none;">image-segmentation</p></li>
													  <!--<li class="f-l sort-s c-gray data_select_scene_span"><span class="">图像处理</span><p style="display: none;">image-processing</p></li>-->
													  <!--<li class="f-l sort-s c-gray data_select_scene_span"><span class="">文本分类</span><p style="display: none;">text-classification</p></li>-->
													  <li class="f-l sort-s c-gray data_select_scene_span"><span>医疗影像</span><p style="display: none;">image-sunnybrook</p></li>
													</ul>
													<!--<div class="filter-morel f-r"></div>-->
												</div>
												<div class="f-l filter-div bdr-b">
												  <h2 class="f-l c-grayblue">格式：</h2>
												  <ul class="f-l filter-list data_select_layout">
													  <li class="f-l sort-s filter-currentr c-gray data_select_layout_span"><span  class="">None</span><p style="display: none">default</p></li>
													  <li class="f-l sort-s c-gray data_select_layout_span"><span class="">TFRECORD</span><p style="display: none">TFRECORD</p></li>
													  <li class="f-l sort-s c-gray data_select_layout_span"><span class="">LMDB</span><p style="display: none">LMDB</p></li>
													  <li class="f-l sort-s c-gray data_select_layout_span"><span class="">HDF5</span><p style="display: none">HDF5</p></li>
													</ul>
													<!--<div class="filter-morel f-r"></div>-->
												</div>

						          </div>
					          <div class="f-l lis-vbd bgc-white lis-vbd1 shop_date_all_li">
					            <li class="f-l lis-v-view">
					              <a href="#" class="f-l pic a_data">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-1.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 数据集4 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span">  </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="5"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-dataset"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view">
					              <a href="#" class="f-l pic a_data">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-2.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 数据集4 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span">  </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="1"></div>
							  					</div>
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-dataset"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view">
					              <a href="#" class="f-l pic a_data">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-3.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 数据集4 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="4"></div>
							  					</div>
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-dataset"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view">
					              <a href="#" class="f-l pic a_data">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-4.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 数据集4 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="5"></div>
							  					</div>
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-dataset"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view">
					              <a href="#" class="f-l pic a_data">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/a-1.jpg')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 数据集4 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="1"></div>
							  					</div>
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-dataset"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view">
					              <a href="#" class="f-l pic a_data">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-2.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 数据集4 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="4"></div>
							  					</div>
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-dataset"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					          </div>
					          <div class="f-l page-box">
							         <div id="page" class="page_div">
									 </div>
					          </div>
				        	</ul>
				        	<ul class="f-l lis-vul shop_model_all" style="width:100%;">

										  <div class="f-l filterbox bgc-white">
												<div class="f-l filter-div bdr-b">
												  <h2 class="f-l c-grayblue">场景：</h2>
													<ul class="f-l filter-list select_model_scence">
														<li class="f-l sort-s filter-currentr c-gray select_model_scence_span"><span class="">不限</span><p style="display: none">default</p></li>
														<li class="f-l sort-s c-gray select_model_scence_span"><span class="">图像分类</span><p style="display: none">classification</p></li>
														<li class="f-l sort-s c-gray select_model_scence_span"><span class="">目标检测</span><p style="display: none">image-object-detection</p></li>
														<li class="f-l sort-s c-gray select_model_scence_span"><span class="">图像分割</span><p style="display: none">image-segmentation</p></li>
														<!--<li class="f-l sort-s c-gray select_model_scence_span"><span class="">图像处理</span><p style="display: none">image-processing</p></li>-->
														<!--<li class="f-l sort-s c-gray select_model_scence_span"><span class="">文本分类</span><p style="display: none;">text-classification</p></li>-->
														<li class="f-l sort-s c-gray select_model_scence_span"><span>医疗影像</span><p style="display: none;">image-sunnybrook</p></li>
													</ul>
													<!--<div class="filter-morel f-r"></div>-->
												</div>
											  <div class="f-l filter-div bdr-b">
												  <h2 class="f-l c-grayblue">框架：</h2>
												  <ul class="f-l filter-list select_model_framework">
													  <li class="f-l sort-s filter-currentr c-gray select_model_framework_span"><span class="">None</span><p style="display: none">default</p></li>
													  <li class="f-l sort-s c-gray select_model_framework_span"><span class="">TensorFlow</span><p style="display: none">TensorFlow</p></li>
													  <li class="f-l sort-s c-gray select_model_framework_span"><span class="">Caffe</span><p style="display: none">Caffe</p></li>
													  <li class="f-l sort-s c-gray select_model_framework_span"><span class="">Torch</span><p style="display: none">Torch</p></li>


													  <li class="f-l sort-s c-gray select_model_framework_span"><span class="">other</span><p style="display: none">other</p></li>
												  </ul>
												  <!--<div class="filter-morel f-r"></div>-->
											  </div>
											  <div class="f-l filter-div bdr-b">
												  <h2 class="f-l c-grayblue">网络：</h2>
												  <ul class="f-l filter-list select_model_network">
													  <li class="f-l sort-s filter-currentr c-gray select_model_network_span"><span class="">None</span><p style="display: none">default</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">LeNet</span><p style="display: none">LeNet</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">ALexNet</span><p style="display: none">ALexNet</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">GoogleNet</span><p style="display: none">GoogleNet</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">VGG16</span><p style="display: none">vgg16</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">Resnet50</span><p style="display: none">resnet50</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">Resnet101</span><p style="display: none">resnet101</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">Resnet152</span><p style="display: none">resnet152</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">Detectnet</span><p style="display: none">detectnet</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">Fcn-Alexnet</span><p style="display: none">fcn-alexnet</p></li>
													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">Char-Cnn</span><p style="display: none">char-cnn</p></li>
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">VGG16</span><p style="display: none">VGG16</p></li>-->
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">Resnet101</span><p style="display: none">Resnet101</p></li>-->
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">Resnet152</span><p style="display: none">Resnet152</p></li>-->
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">Resnet50</span><p style="display: none">Resnet50</p></li>-->
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">DetectNet</span><p style="display: none">DetectNet</p></li>-->
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">Fcn-AlexNet</span><p style="display: none">Fcn-AlexNet</p></li>-->
													  <!--<li class="f-l sort-s c-gray select_model_network_span"><span class="">Char-CNN</span><p style="display: none">Char-CNN</p></li>-->

													  <li class="f-l sort-s c-gray select_model_network_span"><span class="">other</span><p style="display: none">other</p></li>
												  </ul>
												  <!--<div class="filter-morel f-r"></div>-->
											  </div>
						          </div>
								<div class="f-l lis-vbd bgc-white lis-vbd2 shop_model_all_li" >
					            <li class="f-l lis-v-view model_limodel_li">
					              <a href="#" class="f-l pic a_model">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/a-1.jpg')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 模型1 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="5"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-model"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view model_li model_limodel_li">
					              <a href="#" class="f-l pic a_model">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-1.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 模型1 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="1"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-model"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>					            
					            <li class="f-l lis-v-view model_li model_limodel_li">
					              <a href="#" class="f-l pic a_model">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-2.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 模型1 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="4"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-model"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view model_li model_limodel_li">
					              <a href="#" class="f-l pic a_model">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-3.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 模型1 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="5"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-model"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					            <li class="f-l lis-v-view model_li model_limodel_li">
					              <a href="#" class="f-l pic a_model">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/e-4.png')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 模型1 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="1"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-model"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>					            
					            <li class="f-l lis-v-view model_li model_limodel_li">
					              <a href="#" class="f-l pic a_model">
					              	<h4 class="f-l c-white"> 上传时间：2017/10/22 </h4>
					              	<img src="{{url_for('static', filename='images/a-1.jpg')}}" class="f-l trans-a trans-h" />
					              </a>
					              <div class="f-l v-view-4 c-grayblue"> 模型1 </div>
				            		<div class="f-l bgc-gray v-view-1">
				            		  <span class="f-l c-grayblue l-span"> 作者：欧阳泽涛 </span>
							      	  	<div class="f-r star-scorebox m-t10 starscore-a">
													  <div class="f-r star-score" data-score="4"></div>
							  					</div> 	
				            		  <p class="f-l c-gray">
				            		  	详细的聊天设计模型，支持高并发，在线万人，详细的聊天设计模型，支持高并发，在线万人，详细...
				            		  </p>
				            		  <a href="#" class="f-l btn-2 bgc-orange-1 c-white bgc-red-h m-t10 get-model"><i class="fz-20 iconfont"> &#xe61f; </i> 获取 </a>
				            	  </div>
					            </li>
					          </div>
					          <!--分页-->
					          <div class="f-l page-box">
							           <div id="page2" class="page_div">
							           	
							           </div>
							      </div>
				        	</ul>
				      	</div>        
			      	</div>		 	              
            </div>
	      {% endblock rightcontent %}
{% block bottomfile %}
  <script type="text/javascript" src="{{url_for('static', filename='js/paging.js')}}" ></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/shareshop_all.js')}}" ></script>
<script>
	var num_page_1 = 1
	var num_page_2 = 1
	var store_obj_1 = {}
	var store_obj_2 = {}
	var dataset_flag = 1
	var model_flag = 1
	var data_scene_obj = {}
	var data_layout_obj = {}
	var model_scene_obj = {}
	var model_frame_obj = {}
	var model_net_obj = {}
	//	数据商店
	var select_obj_data={'scence':'default','layout':'default'}
	$('.data_select_scene_span').on('click',function () {
		dataset_flag = 3
	    console.log($(this).find('span').siblings().text())
		select_obj_data.scence=$(this).find('span').siblings().text()

		$.post('/store/datasets',{'select_scence':select_obj_data.scence,'select_layout':select_obj_data.layout},function (e) {
//			console.log({'select_scence':select_obj_data.scence,'select_layout':select_obj_data.layout})
			console.log('----++',e)
			data_scene_obj = e
			console.log(data_scene_obj)
//			yema(e.pages)
			if(e.pages != 0){
				yema(e.pages)
			}
			var num_object=0
			for( i in e["dataset"]){
				num_object++
			}
			$('.shop_date_all_li li').css('display','none')
			for(var i=0;i<num_object;i++){
				// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
				$('.shop_date_all_li li').eq(i).css('display','block')
				$('.shop_date_all_li li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["dataset"][i]['create_time'])
				$('.shop_date_all_li li').eq(i).children().eq(1).html(e["dataset"][i]['name'])
				$('.shop_date_all_li li').eq(i).children().eq(2).children('span').html('发布者：' + e["dataset"][i]['publish_user'])
				$('.shop_date_all_li li').eq(i).children().eq(2).children('p').html(e["dataset"][i]['desc'])
			}
		})


	})






	$('.data_select_layout_span').on('click',function () {
		dataset_flag = 4
		select_obj_data.layout=$(this).find('span').siblings().text()
		$.post('/store/datasets',{'select_scence':select_obj_data.scence,'select_layout':select_obj_data.layout},function (e) {
			console.log({'select_scence':select_obj_data.scence,'select_layout':select_obj_data.layout})
//			yema(e.pages)
			data_layout_obj = e
			console.log('database',e,dataset_flag)
			if(e.pages != 0){
				yema(e.pages)
			}
			var num_object=0
			for( i in e["dataset"]){
				num_object++
			}
			$('.shop_date_all_li li').css('display','none')
			for(var i=0;i<num_object;i++){
				// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
				$('.shop_date_all_li li').eq(i).css('display','block')
				$('.shop_date_all_li li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["dataset"][i]['create_time'])
				$('.shop_date_all_li li').eq(i).children().eq(1).html(e["dataset"][i]['name'])
				$('.shop_date_all_li li').eq(i).children().eq(2).children('span').html('发布者：' + e["dataset"][i]['publish_user'])
				$('.shop_date_all_li li').eq(i).children().eq(2).children('p').html(e["dataset"][i]['desc'])
			}
		})

	})







	//	模型商店
	var select_obj_model = {"scence":"default","framework":"default","network":"default"};
	$('.select_model_scence_span').on('click',function () {
		model_flag = 3

		console.log($(this).find('span').siblings().text())
		select_obj_model.scence = $(this).find('span').siblings().text()
		$.post('/store/models',{'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network},function (e) {
			console.log({'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network})
			console.log('--------',e)
			model_scene_obj = e
			if(e.pages != 0){
				yema2(e.pages)
			}
			var num_object1=0
			for( i in e["model"]){
				num_object1++
			}

			$('.model_limodel_li').css('display','none')
			for(var i=0;i<num_object1;i++){
				console.log(i)
				// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
				$('.model_limodel_li').eq(i).css('display','block')
				$('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
				$('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
				$('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
				$('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
			}
//			yema2(e.pages)
//			if(e.pages != 0){
//				yema2(e.pages)
//			}
		})

	})





	$('.select_model_framework_span').on('click',function () {
		model_flag = 4
		select_obj_model.framework = $(this).find('span').siblings().text()
		$.post('/store/models',{'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network},function (e) {
			model_frame_obj = e
			console.log({'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network})
			var num_object1=0
			for( i in e["model"]){
				num_object1++
			}

			$('.model_limodel_li').css('display','none')
			for(var i=0;i<num_object1;i++){
				console.log(i)
				// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
				$('.model_limodel_li').eq(i).css('display','block')
				$('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
				$('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
				$('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
				$('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
			}
//			yema2(e.pages)
			if(e.pages != 0){
				yema2(e.pages)
			}
		})


	})






	$('.select_model_network_span').on('click',function () {
		model_flag = 5
		select_obj_model.network = $(this).find('span').siblings().text()

		$.post('/store/models',{'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network},function (e) {
			console.log('network',e)
			model_net_obj = e
			console.log({'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network})
			var num_object1=0
			for( i in e["model"]){
				num_object1++
			}

			$('.model_limodel_li').css('display','none')
			for(var i=0;i<num_object1;i++){
				console.log(i)
				// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
				$('.model_limodel_li').eq(i).css('display','block')
				$('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
				$('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
				$('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
				$('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
			}
//			yema2(e.pages)
			if(e.pages != 0){
				yema2(e.pages)
			}
		})
	})





	//	分页点击函数
	var yema=function(a){
		$("#page").paging({
			pageNo:1,    //显示页面
			totalPage: a,   //总页数
			totalSize: 300,
			callback: function(num) {
				num_page_1 = num
//				console.log('num',num_page_1)
//				console.log('==========',{'num':num,'name':$('.input-info').val(),'select':select_obj_data})
				$.post('/store/datasets',{'num':num,'name':$('.input-info').val(),'select_scence':select_obj_data.scence,'select_layout':select_obj_data.layout},function (req) {
//					console.log('+++++req',req)
					store_obj_1 = req
					var num_object=0
					for( i in req["dataset"]){
						num_object++
					}
					$('.shop_date_all_li li').css('display','none')
					for(var i=0;i<num_object;i++){
						// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
						$('.shop_date_all_li li').eq(i).css('display','block')
						$('.shop_date_all_li li').eq(i).children().eq(0).children('h4').html('上传时间：'+ req["dataset"][i]['create_time'])
						$('.shop_date_all_li li').eq(i).children().eq(1).html(req["dataset"][i]['name'])
						$('.shop_date_all_li li').eq(i).children().eq(2).children('span').html('发布者：' + req["dataset"][i]['publish_user'])
						$('.shop_date_all_li li').eq(i).children().eq(2).children('p').html(req["dataset"][i]['desc'])
					}

				},'json')
			}
		})
	}
	var yema2=function(a){
		$("#page2").paging({
			pageNo:1,    //显示页面
			totalPage: a,   //总页数
			totalSize: 300,
			callback: function(num) {
				num_page_2 = num
//			    console.log('---------',num)
				 select_obj_model['num']=num
				console.log({
					select_obj_model
				})
				$.post('/store/models',{'num':num,'select_scence':select_obj_model.scence,'select_framework':select_obj_model.framework,'select_network':select_obj_model.network},function (e) {
					store_obj_2 = e

					var num_object1=0
					for( i in e["model"]){
						num_object1++
					}

					$('.model_limodel_li').css('display','none')
					for(var i=0;i<num_object1;i++){
//						console.log(i)
						// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
						$('.model_limodel_li').eq(i).css('display','block')
						$('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
						$('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
						$('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
						$('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
					}
//					console.log(e.pages)
//					yema2(e.pages)
				})
			}
		})
	}


    if('{{path}}' == 'model'){

        $('.slide-tab .hd').find('li').eq(1).addClass('on')
        $('.shop_date_all').css('display','none')
        $('.shop_model_all').css('display','block')
        $.get('/store/models',function (e) {
            var num_object1=0
            for( i in e["model"]){
                num_object1++
            }

            $('.model_limodel_li').css('display','none')
            for(var i=0;i<num_object1;i++){
                console.log(i)
                // $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
                $('.model_limodel_li').eq(i).css('display','block')
                $('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
                $('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
                $('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
                $('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
            }
            if(e.pages != 0){
                yema2(e.pages)
            }
//		yema2(e.pages)
        })
        $('.slide-tab').find('.hd').on('click','li',function () {

            $(this).addClass('on')
            if($(this).html() == '数据商店'){

                $('.shop_date_all').css('display','block');
                $('.shop_model_all').css('display','none');
                $('.shop_date_all_li li').css('display','block')
                $.get('/store/datasets',function (e) {

                    var num_object=0
                    for( i in e["dataset"]){
                        num_object++
                    }
                    $('.shop_date_all_li li').css('display','none')
                    for(var i=0;i<num_object;i++){
                        // $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
                        $('.shop_date_all_li li').eq(i).css('display','block')
                        $('.shop_date_all_li li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["dataset"][i]['create_time'])
                        $('.shop_date_all_li li').eq(i).children().eq(1).html(e["dataset"][i]['name'])
                        $('.shop_date_all_li li').eq(i).children().eq(2).children('span').html('发布者：' + e["dataset"][i]['publish_user'])
                        $('.shop_date_all_li li').eq(i).children().eq(2).children('p').html(e["dataset"][i]['desc'])
                    }
                    if(e.pages != 0){
                        yema(e.pages)
                    }


                })

            }

        })
    }else {


	//data 交互

		$.get('/store/datasets',function (e) {
//			console.log('+++++===== page1',e)
			var num_object=0
			for( i in e["dataset"]){
				num_object++
			}
			$('.shop_date_all_li li').css('display','none')
			for(var i=0;i<num_object;i++){
				// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
				$('.shop_date_all_li li').eq(i).css('display','block')
				$('.shop_date_all_li li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["dataset"][i]['create_time'])
				$('.shop_date_all_li li').eq(i).children().eq(1).html(e["dataset"][i]['name'])
				$('.shop_date_all_li li').eq(i).children().eq(2).children('span').html('发布者：' + e["dataset"][i]['publish_user'])
				$('.shop_date_all_li li').eq(i).children().eq(2).children('p').html(e["dataset"][i]['desc'])
			}
			if(e.pages != 0){
				yema(e.pages)
			}


		})


	// model
	$.get('/store/models',function (e) {
		var num_object1=0
		for( i in e["model"]){
			num_object1++
		}

		$('.model_limodel_li').css('display','none')
		for(var i=0;i<num_object1;i++){
			console.log(i)
			// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
			$('.model_limodel_li').eq(i).css('display','block')
			$('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
			$('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
			$('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
			$('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
		}
		if(e.pages != 0){
			yema2(e.pages)
		}

	})

    }

	//详情跳转
	var local=function (e) {
		localStorage.setItem(e)
		console.log(e)
	}


		var content_data=null
		$('.a_data').on('click',function(){
		 window.location.href='/show/shop/dataset'
			var index_i=Number($('.a_data').index(this))
			if (dataset_flag == 1){
			$.get('/store/datasets?num='+ num_page_1,function (e) {

				if (num_page_1 == 1){
					post_id=e.dataset[index_i].id

					console.log({id:e.dataset[index_i].id,
						job_id:e.dataset[index_i].job_id
					})
					localStorage.clear()
					localStorage.setItem('data',JSON.stringify({id:e.dataset[index_i].id,
						job_id:e.dataset[index_i].job_id
					}))
				}else if(num_page_1 > 1){
					post_id=store_obj_1.dataset[index_i].id

					localStorage.clear()
					localStorage.setItem('data',JSON.stringify({id:store_obj_1.dataset[index_i].id,
						job_id:store_obj_1.dataset[index_i].job_id
					}))
				}

			})

			}
            // if (dataset_flag == 2){
            //     $.get('/store/datasets?num='+ num_page_1,function () {
            //         console.log('dataset',dataset_obj)
            //         post_id=dataset_obj.dataset[index_i].id
            //         localStorage.clear()
            //         localStorage.setItem('data',JSON.stringify({id:dataset_obj.dataset[index_i].id,
            //             job_id:dataset_obj.dataset[index_i].job_id
            //         }))
            //
            //     })
            //     dataset_flag = 1
            // }
            if (dataset_flag == 3){
                console.log('click a_data',data_scene_obj)
                $.get('/store/datasets?num='+ num_page_1,function () {
                    console.log('dataset',data_scene_obj)
                    post_id=data_scene_obj.dataset[index_i].id
                    localStorage.clear()
                    localStorage.setItem('data',JSON.stringify({id:data_scene_obj.dataset[index_i].id,
                        job_id:data_scene_obj.dataset[index_i].job_id
                    }))

                })
                dataset_flag = 1
            }
            if (dataset_flag == 4){
                $.get('/store/datasets?num='+ num_page_1,function () {
                    console.log('dataset',data_layout_obj)
                    post_id=data_layout_obj.dataset[index_i].id
                    localStorage.clear()
                    localStorage.setItem('data',JSON.stringify({id:data_layout_obj.dataset[index_i].id,
                        job_id:data_layout_obj.dataset[index_i].job_id
                    }))

                })
                dataset_flag = 1
            }
			
		})


	$('.get-dataset').on('click',function(){
		window.location.href='/show/shop/dataset'
		var index_i=Number($('.get-dataset').index(this))
		if (dataset_flag == 1){
			$.get('/store/datasets?num='+ num_page_1,function (e) {
				console.log('eeee',e)
				if (num_page_1 == 1){
					post_id=e.dataset[index_i].id
					console.log({id:e.dataset[index_i].id,
						job_id:e.dataset[index_i].job_id
					})
					localStorage.clear()
					localStorage.setItem('data',JSON.stringify({id:e.dataset[index_i].id,
						job_id:e.dataset[index_i].job_id
					}))
				}
				else if(num_page_1 > 1){
					post_id=store_obj_1.dataset[index_i].id

					localStorage.clear()
					localStorage.setItem('data',JSON.stringify({id:store_obj_1.dataset[index_i].id,
						job_id:store_obj_1.dataset[index_i].job_id
					}))
				}

			})
			// dataset_flag = 2
		}
        // if (dataset_flag == 2){
        //     $.get('/store/datasets?num='+ num_page_1,function () {
        //         console.log('dataset',dataset_obj)
        //         post_id=dataset_obj.dataset[index_i].id
        //         localStorage.clear()
        //         localStorage.setItem('data',JSON.stringify({id:dataset_obj.dataset[index_i].id,
        //             job_id:dataset_obj.dataset[index_i].job_id
        //         }))
        //
        //     })
        //     dataset_flag = 1
        // }
        if (dataset_flag == 3){
            $.get('/store/datasets?num='+ num_page_1,function (e) {
                if (num_page_1 == 1){
                    post_id=data_scene_obj.dataset[index_i].id
                    localStorage.clear()
                    localStorage.setItem('data',JSON.stringify({id:data_scene_obj.dataset[index_i].id,
                        job_id:data_scene_obj.dataset[index_i].job_id
                    }))
                }
                else if(num_page_1 > 1){
                    post_id=store_obj_1.dataset[index_i].id
                    localStorage.clear()
                    localStorage.setItem('data',JSON.stringify({id:store_obj_1.dataset[index_i].id,
                        job_id:store_obj_1.dataset[index_i].job_id
                    }))
                }

            })
            dataset_flag = 1
        }
        if (dataset_flag == 4){
            $.get('/store/datasets?num='+ num_page_1,function (e) {
                console.log('data_obj---',data_layout_obj)
                if (num_page_1 == 1){

                    post_id=data_layout_obj.dataset[index_i].id

                    localStorage.clear()
                    localStorage.setItem('data',JSON.stringify({id:data_layout_obj.dataset[index_i].id,
                        job_id:data_layout_obj.dataset[index_i].job_id
                    }))
                }
                else if(num_page_1 > 1){

                    post_id=store_obj_1.dataset[index_i].id

                    localStorage.clear()
                    localStorage.setItem('data',JSON.stringify({id:store_obj_1.dataset[index_i].id,
                        job_id:store_obj_1.dataset[index_i].job_id
                    }))
                }
            })
            dataset_flag = 1
        }

	})


	var content_model=null
	$('.a_model').on('click',function(){
		window.location.href='/show/shop/model'
		var index_i=Number($('.a_model').index(this))
		console.log('+++++',index_i)
		if (model_flag == 1){
			$.get('/store/models?num='+ num_page_2,function (e) {
				if(num_page_2 == 1){
//				console.log({id:e.model[index_i].id,
//					job_id:e.model[index_i].job_id
//				})
					localStorage.clear()
					localStorage.setItem('model',JSON.stringify({id:e.model[index_i].id,
						job_id:e.model[index_i].job_id
					}))
				}else if(num_page_2 > 1){
					console.log({id:store_obj_2.model[index_i].id,
						job_id:store_obj_2.model[index_i].job_id
					})
					localStorage.clear()
					localStorage.setItem('model',JSON.stringify({id:store_obj_2.model[index_i].id,
						job_id:store_obj_2.model[index_i].job_id
					}))
				}

//			console.log(JSON.parse(localStorage.getItem('model')))
			})
			// model_flag = 2
		}
        // if(model_flag == 2){
        //     $.get('/store/models?num='+ num_page_2,function () {
        //         localStorage.clear()
        //         localStorage.setItem('model',JSON.stringify({id:model_obj.model[index_i].id,
        //             job_id:model_obj.model[index_i].job_id
        //         }))
        //     })
        //     model_flag = 1
        // }
        if(model_flag == 3){
            $.get('/store/models?num='+ num_page_2,function () {
                localStorage.clear()
                localStorage.setItem('model',JSON.stringify({id:model_scene_obj.model[index_i].id,
                    job_id:model_scene_obj.model[index_i].job_id
                }))
            })
            model_flag = 1
        }
        if(model_flag == 4){
            $.get('/store/models?num='+ num_page_2,function () {
                localStorage.clear()
                localStorage.setItem('model',JSON.stringify({id:model_frame_obj.model[index_i].id,
                    job_id:model_frame_obj.model[index_i].job_id
                }))
            })
            model_flag = 1
        }
        if(model_flag == 5){
            $.get('/store/models?num='+ num_page_2,function () {
                localStorage.clear()
                localStorage.setItem('model',JSON.stringify({id:model_net_obj.model[index_i].id,
                    job_id:model_net_obj.model[index_i].job_id
                }))
            })
            model_flag = 1
        }


	})
	$('.get-model').on('click',function(){
		window.location.href='/show/shop/model'
		var index_i=Number($('.get-model').index(this))
		console.log('+++++',index_i)
		if (model_flag == 1){
			$.get('/store/models?num='+ num_page_2,function (e) {
				if(num_page_2 == 1){
//				console.log({id:e.model[index_i].id,
//					job_id:e.model[index_i].job_id
//				})
					localStorage.clear()
					localStorage.setItem('model',JSON.stringify({id:e.model[index_i].id,
						job_id:e.model[index_i].job_id
					}))
				}
				else if(num_page_2 > 1){
					console.log({id:store_obj_2.model[index_i].id,
						job_id:store_obj_2.model[index_i].job_id
					})
					localStorage.clear()
					localStorage.setItem('model',JSON.stringify({id:store_obj_2.model[index_i].id,
						job_id:store_obj_2.model[index_i].job_id
					}))
				}

//			console.log(JSON.parse(localStorage.getItem('model')))
			})
			// model_flag = 2
		}
        // if(model_flag == 2){
        //     $.get('/store/models?num='+ num_page_2,function () {
        //         localStorage.clear()
        //         localStorage.setItem('model',JSON.stringify({id:model_obj.model[index_i].id,
        //             job_id:model_obj.model[index_i].job_id
        //         }))
        //     })
        //     model_flag = 1
        // }
        if(model_flag == 3){
            $.get('/store/models?num='+ num_page_2,function () {
                localStorage.clear()
                localStorage.setItem('model',JSON.stringify({id:model_scene_obj.model[index_i].id,
                    job_id:model_scene_obj.model[index_i].job_id
                }))
            })
            model_flag = 1
        }
        if(model_flag == 4){
            $.get('/store/models?num='+ num_page_2,function () {
                localStorage.clear()
                localStorage.setItem('model',JSON.stringify({id:model_frame_obj.model[index_i].id,
                    job_id:model_frame_obj.model[index_i].job_id
                }))
            })
            model_flag = 1
        }
        if(model_flag == 5){
            $.get('/store/models?num='+ num_page_2,function () {
                localStorage.clear()
                localStorage.setItem('model',JSON.stringify({id:model_net_obj.model[index_i].id,
                    job_id:model_net_obj.model[index_i].job_id
                }))
            })
            model_flag = 1
        }



	})
	//	搜索
	$('.btn_select_i').on('click',function () {
		dataset_flag = 2
		model_flag = 2
		console.log('dataset_flag',dataset_flag)
		if ($('.on').text() =='数据商店'){
			var dataset_obj = {}
			$.post('/store/datasets',{'store_search':$('.btn_select_i_text').val()},function (e) {
				console.log('store_search',e)
				dataset_obj = e
				var num_object=0
				for( i in e["dataset"]){
					num_object++
				}
				$('.shop_date_all_li li').css('display','none')
				for(var i=0;i<num_object;i++){
					// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
					$('.shop_date_all_li li').eq(i).css('display','block')
					$('.shop_date_all_li li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["dataset"][i]['create_time'])
					$('.shop_date_all_li li').eq(i).children().eq(1).html(e["dataset"][i]['name'])
					$('.shop_date_all_li li').eq(i).children().eq(2).children('span').html('发布者：' + e["dataset"][i]['publish_user'])
					$('.shop_date_all_li li').eq(i).children().eq(2).children('p').html(e["dataset"][i]['desc'])
				}
			})

				$('.a_data').on('click',function(){
				window.location.href='/show/shop/dataset'
					var index_i=Number($('.a_data').index(this))
					if (dataset_flag == 2){
					$.get('/store/datasets?num='+ num_page_1,function () {
						console.log('dataset',dataset_obj)
							post_id=dataset_obj.dataset[index_i].id
							localStorage.clear()
							localStorage.setItem('data',JSON.stringify({id:dataset_obj.dataset[index_i].id,
								job_id:dataset_obj.dataset[index_i].job_id
							}))

					})
						dataset_flag = 1
					}
				})
			$('.get-dataset').on('click',function(){
				window.location.href='/show/shop/dataset'
				var index_i=Number($('.get-dataset').index(this))
				if (dataset_flag == 2){
					$.get('/store/datasets?num='+ num_page_1,function () {
						console.log('dataset',dataset_obj)
						post_id=dataset_obj.dataset[index_i].id
						localStorage.clear()
						localStorage.setItem('data',JSON.stringify({id:dataset_obj.dataset[index_i].id,
							job_id:dataset_obj.dataset[index_i].job_id
						}))

					})
					dataset_flag = 1
				}
			})



		}else if($('.on').text() =='模型商店'){
		    console.log(model_flag)
			var model_obj = {}
			$.post('/store/models',{'store_search':$('.btn_select_i_text').val()},function (e) {
				console.log('store_search',e)
				model_obj = e
				var num_object=0
				for( i in e["model"]){
					num_object++
				}
				console.log('num_obj',num_object)
				$('.model_limodel_li').css('display','none')
				for(var i=0;i<num_object;i++){
					// $('.shop_date_all_li li').first().clone().appendTo($('.shop_date_all_li'))
					$('.model_limodel_li').eq(i).css('display','block')
					$('.model_limodel_li').eq(i).children().eq(0).children('h4').html('上传时间：'+ e["model"][i]['create_time'])
					$('.model_limodel_li').eq(i).children().eq(1).html(e["model"][i]['name'])
					$('.model_limodel_li').eq(i).children().eq(2).children('span').html('发布者：' + e["model"][i]['publish_user'])
					$('.model_limodel_li').eq(i).children().eq(2).children('p').html(e["model"][i]['desc'])
				}



			})
			$('.a_model').on('click',function(){
				window.location.href='/show/shop/model'
				var index_i=Number($('.a_model').index(this))
				console.log('+++++',index_i)
				if(model_flag == 2){
					$.get('/store/models?num='+ num_page_2,function () {
						localStorage.clear()
						localStorage.setItem('model',JSON.stringify({id:model_obj.model[index_i].id,
							job_id:model_obj.model[index_i].job_id
						}))
					})
					model_flag = 1
				}
			})

			$('.get-model').on('click',function(){
				window.location.href='/show/shop/model'
				var index_i=Number($('.get-model').index(this))
				console.log('+++++',index_i)
				if(model_flag == 2){
					$.get('/store/models?num='+ num_page_2,function () {
						localStorage.clear()
						localStorage.setItem('model',JSON.stringify({id:model_obj.model[index_i].id,
							job_id:model_obj.model[index_i].job_id
						}))
					})
					model_flag = 1
				}
			})

		}
//
	})

	//返回顶部锚点
	$('.btn-4').on('click',function(){
		$('body').scrollTop(0)
	})
</script>
<script>
	$(".l-aside").width(200);
	$(".lift-menu").addClass("side-menu");
	$("#side-menu").niceScroll({
		cursorcolor: "#829bb9",
		cursoropacitymax: 1,
		touchbehavior: false,
		cursorwidth: "4px",
		cursorborder: "4",
		cursorborderradius: "0",
		cursorminheight: 32,
		railpadding:{
			right:2
		},
		autohidemode: false ,
		background: "#49586d"
	});
	$(".l-sidemenu").toggle(function() {
		$(".l-aside").width(50);
		$(".lift-menu").removeClass("side-menu").addClass("side-menu-s");
	}, function() {
		$(".l-aside").width(200);
		$(".lift-menu").addClass("side-menu").removeClass("side-menu-s");
	});
</script>

{% endblock bottomfile %}