<!DOCTYPE html>
<html>

	<head>
		{% include 'new/public/meta.html' %}
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='advance/css/index.css')}}" />

	</head>

	<body>

		{% include 'new/public/header.html' %}

		<div class="container-fluid" style="margin-top: 51px;">
			<div class="row" id="row-box">
				{% include 'new/public/left.html'%}
				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 10px 20px;">
					<h4 class="page-header bdr-n">控制台</h4>
					<div class="col-md-12 b-nav bg-white">
						<ol class="breadcrumb bg-white mb-0 pdtb-15">
							<li>
								<a href="#" class="c-gray">Home</a>
							</li>

							<li class="c-green">控制台</li>
						</ol>
					</div>

					<div class="col-md-12 mt-30" style="background: #FFFFFF;padding: 30px 15px 100px 20px;">
						

					<div class="col-md-8" style="margin-top:20px ; box-shadow: 1px 1px 5px #ddd;width: 74%;">

						<h3 class="page-header">资源监控</h3>
						<div class="row  placeholder">

							<div class="col-xs-6 col-sm-3 placeholder">
								<div id="mychart-1" class="img-responsive" style="height: 200px;width: 200px;">

								</div>
								<!--<h4>Label</h4>
			              <span class="text-muted">Something else</span>-->
							</div>
							<div class="col-xs-6 col-sm-3 placeholder">
								<div id="mychart-2" class="img-responsive" style="height: 200px;width: 200px;">

								</div>
								<!--<h4>Label</h4>
			              <span class="text-muted">Something else</span>-->
							</div>
							<div class="col-xs-6 col-sm-3 placeholder">
								<div id="mychart-3" class="img-responsive" style="height: 200px;width: 200px;">

								</div>
								<!--<h4>Label</h4>
			              <span class="text-muted">Something else</span>-->
							</div>
							<div class="col-xs-6 col-sm-3 placeholder">
								<div id="mychart-4" class="img-responsive" style="height: 200px;width: 200px;">

								</div>
								<!--<h4>Label</h4>
			              <span class="text-muted">Something else</span>-->
							</div>
						</div>

					</div>

					<div class="col-md-3" style="margin-top:20px ; box-shadow: 1px 1px 5px #ddd;margin-left: 10px;">
						<h3 class="sub-header page-header">分区</h3>
						<div class="row" >
							<div class="partition f-l col-md-12">
								<div class="quota-title">
									<h4>分区(1)</h4>
								</div>
								<div class="f-l" style="margin-top: 5px;">已用资源</div>
							</div>
							<div class="col-md-12 fenqu-box">

								<div class="col-md-2 fenqu-name">
									1
								</div>
								<div class="col-md-9 fenqu-info">
									<div class="col-md-12">
										<div class="col-md-3">
											GPU
										</div>
										<div class="col-md-9 ">
											<div class="length-bar">
												<div class="bar b-gpu">

												</div>
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="col-md-3">
											内存
										</div>
										<div class="col-md-9 ">
											<div class="length-bar">
												<div class="bar b-memory">

												</div>
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="col-md-3">
											CPU
										</div>
										<div class="col-md-9">
											<div class=" length-bar">
												<div class="bar b-cpu">

												</div>
											</div>
										</div>
									</div>

								</div>

							</div>

						</div>
					</div>

					<div class="col-md-8" style="margin-top:20px ; box-shadow: 1px 1px 5px #ddd; width: 74%;">



						<h3 class="sub-header page-header">作业管理</h3>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>
											<input type="checkbox" name="" id="" value="" class="check_all"/>
											<i class="iconfont icon-shanchu delete-icon"></i>
										</th>
										<th>作业名称</th>
										<th>框架</th>
										<th>创建时间</th>
										<th>运行时长</th>
										<th>作业状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
										</td>
										<td>caffempi-mpi-mpi1234</td>
										<td>caffe</td>
										<td>2018-09-03 110：25：02</td>
										<td>2分12秒</td>
										<td>
											<span class="home-state bg-gray">终止</span>	
										</td>
										<td>
											<span class="clone span-box">
												<i class="iconfont icon-kelong"></i>
												<em class="c-green">克隆</em>
											</span>
											<span class="abort span-box">
												<i class="iconfont icon-zantingshiyong"></i>
												<em class="c-green">终止</em>
											</span>
											<span class="download span-box">
												<i class="iconfont icon-xiazai"></i>
												<em class="c-green">下载</em>
											</span>
											<span class="fileload span-box">
												<i class="iconfont icon-wenjianguanli1"></i>
												<em class="c-green">jupyter</em>
											</span>
											
											
											
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" name="subcheck" id="" value=""  class="check_each"/>
										</td>
										<td>caffe</td>
										<td>caffe</td>
										<td>2018-09-03 110：25：02</td>
										<td>2分12秒</td>
										<td>
											<span class="home-state bg-green1">运行中</span>	
										</td>
										<td>
											<span class="clone span-box">
												<i class="iconfont icon-kelong"></i>
												<em class="c-green">克隆</em>
											</span>
											<span class="abort span-box">
												<i class="iconfont icon-zantingshiyong"></i>
												<em class="c-green">终止</em>
											</span>
											<span class="download span-box">
												<i class="iconfont icon-xiazai"></i>
												<em class="c-green">下载</em>
											</span>
											<span class="fileload span-box">
												<i class="iconfont icon-wenjianguanli1"></i>
												<em class="c-green">jupyter</em>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" name="" id="subcheck" value=""  class="check_each"/>
										</td>
										<td>caffe</td>
										<td>caffe</td>
										<td>2018-09-03 110：25：02</td>
										<td>2分12秒</td>
										<td>
											<span class="home-state bg-red">完成</span>	
										</td>
										<td>
											<span class="clone span-box">
												<i class="iconfont icon-kelong"></i>
												<em class="c-green">克隆</em>
											</span>
											<span class="abort span-box">
												<i class="iconfont icon-zantingshiyong"></i>
												<em class="c-green">终止</em>
											</span>
											<span class="download span-box">
												<i class="iconfont icon-xiazai"></i>
												<em class="c-green">下载</em>
											</span>
											<span class="fileload span-box">
												<i class="iconfont icon-wenjianguanli1"></i>
												<em class="c-green">jupyter</em>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
										</td>
										<td>caffe</td>
										<td>caffe</td>
										<td>2018-09-03 110：25：02</td>
										<td>2分12秒</td>
										<td>
											<span class="home-state bg-green1">运行中</span>	
										</td>
										<td>
											<span class="clone span-box">
												<i class="iconfont icon-kelong"></i>
												<em class="c-green">克隆</em>
											</span>
											<span class="abort span-box">
												<i class="iconfont icon-zantingshiyong"></i>
												<em class="c-green">终止</em>
											</span>
											<span class="download span-box">
												<i class="iconfont icon-xiazai"></i>
												<em class="c-green">下载</em>
											</span>
											<span class="fileload span-box">
												<i class="iconfont icon-wenjianguanli1"></i>
												<em class="c-green">jupyter</em>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
										</td>
										<td>caffe</td>
										<td>caffe</td>
										<td>2018-09-03 110：25：02</td>
										<td>2分12秒</td>
										<td>
											<span class="home-state bg-orangle">等待</span>	
										</td>
										<td>
											<span class="clone span-box">
												<i class="iconfont icon-kelong"></i>
												<em class="c-green">克隆</em>
											</span>
											<span class="abort span-box">
												<i class="iconfont icon-zantingshiyong"></i>
												<em class="c-green">终止</em>
											</span>
											<span class="download span-box">
												<i class="iconfont icon-xiazai"></i>
												<em class="c-green">下载</em>
											</span>
											<span class="fileload span-box">
												<i class="iconfont icon-wenjianguanli1"></i>
												<em class="c-green">jupyter</em>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" name="subcheck" id="" value=""  class="check_each"/>
										</td>
										<td>caffempi</td>
										<td>caffe</td>
										<td>2018-09-03 110：25：02</td>
										<td>2分12秒</td>
										<td>
											<span class="home-state bg-red">完成</span>	
										</td>
										<td>
											<span class="clone span-box">
												<i class="iconfont icon-kelong"></i>
												<em class="c-green">克隆</em>
											</span>
											<span class="abort span-box">
												<i class="iconfont icon-zantingshiyong"></i>
												<em class="c-green">终止</em>
											</span>
											<span class="download span-box">
												<i class="iconfont icon-xiazai"></i>
												<em class="c-green">下载</em>
											</span>
											<span class="fileload span-box">
												<i class="iconfont icon-wenjianguanli1"></i>
												<em class="c-green">jupyter</em>
											</span>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-3" style="margin-top:20px ; box-shadow: 1px 1px 5px #ddd;margin-left: 10px;height: 442px;">
						<h3 class="sub-header page-header">任务统计</h3>
						<div class="row" style="height: 220px;">
							<div class="col-md-6" id="round1" style="height: 220px;">

							</div>
							<div class="col-md-6" id="round2" style="height: 220px;">

							</div>
						</div>
					</div>

					<div class="w-100 page_box f-l" style="margin-top: 80px;">
						<div id="page">

						</div>
					</div>
					
					</div>
					
				</div>

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom bg-white">Copyright © 2017
					<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.</div>

			</div>
		</div>

		{% include 'new/public/script.html'%}
		<script src="{{url_for('static', filename='advance/js/echarts.min.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static', filename='advance/js/c3.min.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static', filename='advance/js/d3.v3.min.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static', filename='advance/js/gauge.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static', filename='advance/js/paging.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static', filename='advance/js/index.js')}}" type="text/javascript" charset="utf-8"></script>
	</body>

</html>