<!DOCTYPE html>
<html>

	<head>
		<!--{% include 'new/public/meta.html' %}-->
		<link rel="shortcut icon" href="advance/images/bitbug_favicon.ico" />
		<link href="advance/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="advance/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="advance/css/public.css" />
		<link rel="stylesheet" type="text/css" href="advance/css/tuning.css"/>

	</head>

	<body>
	<style>
		.autocomplete-suggestions{
			background: #ffffff;
			border: 1px solid #999;
			overflow: auto;
			padding-left: 5px;
		}
	</style>
		<!--{% include 'new/public/header.html' %}-->
	<nav class="navbar navbar-inverse  navbar-fixed-top" style="margin-bottom: 0;box-shadow: 1px 1px 2px #DDDDDD;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="advance/images/logo.png" /></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<div class="nav navbar-nav navbar-right nav-right">
					<div class="head-img">
						<img src="advance/images/00-1.jpg" />

					</div>
					<div class="">
						<div class="c-green">

						</div>
					</div>
					<div class="logout-box">
						<div class="">
							<a href="{{url_for('hyperai.passport.views.logout')}}" style="text-decoration: none;color: #2C3850;">
								退出
							</a>

						</div>
					</div>
				</div>
				<!--<form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>-->
			</div>
		</div>
	</nav>
		<div class="container-fluid" style="margin-top: 51px;">
			<div class="row" id="row-box">

				<!--{% include 'new/public/left.html' %}-->
				<div class="col-sm-3 col-md-2 sidebar" id="l-slider">
					<ul class=" nav-sidebar left-menu">

						<li class="">
							<a href="static/index.html" class="{% if index =='index'%}lc-menu {% else %} {% endif%}">
								<i class="iconfont icon-shouye mr-20"></i>
								<span id="">
			            			首页
			            		</span>

							</a>
						</li>
						<li>
							<a href="static/Vipuser.html" class="{% if index =='vip'%}lc-menu {% else %} {% endif%}">
								<i class="iconfont icon-gaojigongneng mr-20"></i>
								<span id="">
			            			模型训练
			            		</span>

							</a>
						</li>
						<li>
							<a href="tuning.html" class="{% if index =='tuning'%}lc-menu{% else %} {% endif%}">
								<i class="iconfont icon-zidongtishengyouxianshengji mr-20"></i>
								<span id="">
			            			超参调优
			            		</span>

							</a>
						</li>
						<li>
							<a href="#">
								<i class="iconfont icon-wenjianguanli mr-20"></i>
								<span id="">
			            			文件管理
			            		</span>

							</a>
						</li>
						<li class="xtgl">
							<a href="#">
								<i class="iconfont icon-xitongguanli mr-20"></i>
								<span id="">
			            			系统管理
			            		</span>
								<!--<i class="iconfont icon-xiala xiala" style="transform: rotate(-90deg);"></i>-->
							</a>
						</li>
						<div class="xit-menu">
							<a href="mirror-warehouse.html" style="text-decoration: none">
								<div class="menu-info">
									镜像仓库
								</div>
							</a>
							<a href="#" style="text-decoration: none">
								<div class="menu-info">
									资源监控
								</div>
							</a>
							<a href="user_administrator.html" class="{% if index =='manage'%}lc-menu {% else %} {% endif%}"  style="text-decoration: none">
								<div class="menu-info">
									用户管理
								</div>
							</a>

						</div>
					</ul>
				</div>


				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 0px 20px;">
					<h4 class="page-header bdr-n">超参调优</h4>
					<div class="col-md-12 b-nav bg-white">
						<ol class="breadcrumb bg-white mb-0 pdtb-15">
							<li>
								<a href="#" class="c-gray">Home</a>
							</li>

							<li class="c-green">超参调优</li>
						</ol>
					</div>
			
			<form action="" method="post">


					<div class="col-md-12 mt-30 tuning-box" style="background: #FFFFFF; padding:20px 30px;">
						
						
						  <div class="form-group col-md-12 mt-15">
						    <h4  class="col-sm-2 control-label t-r fz-16">作业名称</h4>
						    <div class="col-sm-6">
						      <input type="text" class="form-control" id="name" name="homework_name">
						    </div>
						  </div>
						  <h4 class="page-header bdr-n">模型</h4>
						  
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">本地文件</h4>
						    <div class="col-sm-6" style="position: relative;">
						      <input type="text" class="form-control image_list_i_2" id="localfile" name="model_file">
						      <span href="#" class="load-file">上传
									<input type="file" name="" id="image_list2" value="" />
							  </span>
						    </div>
						  </div>
						  
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">服务器路径</h4>
						    <div class="col-sm-6">
						      <input type="text" class="form-control autocomplete_path" id="loadfile" name="server_path">
						    </div>
						  </div>
						  <h4 class="page-header bdr-n">数据集</h4>
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">选择数据集</h4>
						    <div class="col-sm-6">
						      <input type="text" class="form-control autocomplete_path" id="dataset" name="dataset_file">
						    </div>
						  </div>
					</div>
					<div class="col-md-12 mt-30 tuning-box" style="background: #FFFFFF; padding:20px 30px;">
						<h4 class="page-header bdr-n">参数区</h4>
						  <div class="form-group col-md-12">
						    <h4  class="col-sm-2 control-label t-r fz-16">优化方式</h4>
						    <div class="col-sm-3">
						      <select type="text" class="form-control" id="opt-way" name="optimize_type">
						      	<option value="Bayesian optimization">Bayesian optimization</option>
						      </select>
						    </div>
						    
						    <h4  class="col-sm-2 control-label t-r fz-16">优化方法</h4>
						    <div class="col-sm-3">
						      <select type="text" class="form-control" id="opt-fun" name="Bayesian_method">
						      	<option value="GD">GD</option>
						      	<option value="RMSProp">RMSProp</option>
						      	<option value="Adam">Adam</option>
						      	<option value="Momentum">Momentum</option>
						      </select>	
						    </div>
						    
						  </div>
						  <div class="form-group col-md-12 mt-15">
						    <h4  class="col-sm-2 control-label t-r fz-16">bayesian迭代次数</h4>
						    <div class="col-sm-3 format-box">
						      <span class="c-red format">迭代次数选择1到100之间</span>
						      <input type="text" class="form-control" id="bayesion_iteration" name="bayesion_iteration">
						      
						    </div>
						    
						    <h4  class="col-sm-2 control-label t-r fz-16">模型迭代次数</h4>
						    <div class="col-sm-3 format-box">
						    	<span class="c-red format">模型迭代次数选择1到100之间</span>
						      <input type="text" class="form-control" id="model_iteration" name="model_iteration">
						      
						    </div>
						    
						    
						  </div>
						  
						  <div class="form-group col-md-12 mt-15">
						  	<h4  class="col-sm-2 control-label t-r fz-16">batch-size</h4>
						    <div class="col-sm-3 format-box">
						    	<span class="c-red format">batch-size可以选1到128之间的整数</span>
						      <input type="text" class="form-control" id="batch_size" name="batch_size">
						    </div>
						  </div>
						
						<div class="form-group col-md-12 mt-15 pdl-40">
						  <div class="form-group col-md-12 bdr">
						  	  <div class="col-md-3 form-group gd-box mt-30 mb-30">
						  	  	<h4 class="col-md-10 fz-12 center mb-30">学习率(lr)</h4>
						  	  	
						  	  	<div class="col-md-12 format-box">
						  	  		<span class="c-red format pdl-40">学习率的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n checkbox-lr">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="lr_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="lr_up" id="" value="" class="form-control" />
								  	  	</div>
										<input type="hidden" value="" name="lr"/>
							  	</div>
						  	  	
						  	  </div>
						  	  <div class="col-md-3 form-group rmsprop-box rmsprop-momen mt-30">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">动量(momentum)</h4>
							  	  	
							  	  	<div class="col-md-12 pd-n format-box">
							  	  		<span class="c-red format pdl-40">动量的范围是（0.1,0.9999）</span>
							  	  		<div class="col-md-1 pd-n checkbox-momen">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		
								  	  		<input type="text" name="momentum_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="momentum_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="momentum"/>
							  	  	</div>
						  	  </div>
						  	  <div class="col-md-3 form-group rmsprop-box mt-30">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">梯度衰减因子(decay)</h4>
							  	  	
							  	  	<div class="col-md-12 pd-n format-box">
							  	  		<span class="c-red format pdl-40">梯度衰减因子的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		
								  	  		<input type="text" name="decay_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="decay_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="decay"/>
							  	  	</div>
						  	  </div>
						  	  
						  	  <div class="col-md-3 form-group adam-box mt-30">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">指数衰减率1(beta1)</h4>
							  	  	
							  	  	<div class="col-md-12 pd-n format-box">
							  	  		<span class="c-red format pdl-40">指数衰减率1的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n">
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para">
												</label>
											</div>
							  	  		</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		
								  	  		<input type="text" name="beta1_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="beta1_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="beta1"/>
							  	  	</div>
						  	  	</div>
						  	  	
						  	  	<div class="col-md-3 form-group adam-box mt-30">
							  	  	<h4 class="col-md-10 fz-12 center mb-30">指数衰减率2(beta2)</h4>
							  	  	
							  	  	
							  	  	<div class="col-md-12 format-box">
							  	  		<span class="c-red format pdl-40">指数衰减率2的范围是（0.00001,1）</span>
							  	  		<div class="col-md-1 pd-n ">
							  	  			
								  	  		<div class="checkbox mt-5">
												<label>
													<input type="checkbox" name="optional_para">
												</label>
											</div>
								  	  	</div>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="beta2_lower" id="" value="" class="form-control" />
								  	  	</div>
								  	  	<span class="center col-md-1 pd-n">~</span>
								  	  	<div class="col-md-4 pd-n">
								  	  		<input type="text" name="beta2_up" id="" value="" class="form-control" />
								  	  	</div>
                                        <input type="hidden" value="" name="beta2"/>
							  	  	</div>
							  	  	
						  	  	</div>

						  </div>
						</div>  
						  

						<div class="clone-box">
							<div class="col-md-12 bdr-b bdr-l bdr-r h-40 fen-list" style="padding: 0px;">
								<div class="col-md-3 bdr-r h-40">
									<input type="radio" name="" id="" value="" />
									<label>分区1</label>
								</div>
								<div class="col-md-3 bdr-r h-40">
									2
								</div>
								<div class="col-md-3 bdr-r h-40">
									90
								</div>
								<div class="col-md-3  h-40">
									28
								</div>
							</div>
						</div>

						  
						  <h4>选择资分区</h4>
						  	<div class="input-box  input-group col-md-12">

								<div class="c-box mt-15 input-group col-md-12" style="padding-left: 40px;padding-right: 15px;">
									<div class="col-md-12 bdr" style="padding: 0px;">
										<div class="col-md-3 bdr-r h-80">
											分区名
										</div>
										<div class="col-md-9" style="padding: 0px;">
											<div class="col-md-12 h-40 bdr-b" style="text-align: center;">
												剩余配额
											</div>
											<div class="col-md-4 h-40 bdr-r">
												GPU数量
											</div>
											<div class="col-md-4 h-40 bdr-r">
												CPU
											</div>
											<div class="col-md-4 h-40">
												内存
											</div>
										</div>
									</div>

									<div class="col-md-12 fen-box" style="padding: 0px;background: #fff5ee;">
										<div class="col-md-12 bdr-b bdr-l bdr-r h-40 fen-list" style="padding: 0px;">
											<div class="col-md-3 bdr-r h-40">
												<input type="radio" name="" id="" value="" />
												<label>分区1</label>
											</div>
											<div class="col-md-3 bdr-r h-40">
												2
											</div>
											<div class="col-md-3 bdr-r h-40">
												90
											</div>
											<div class="col-md-3  h-40">
												28
											</div>
										</div>

										<div class="col-md-12 bdr-b bdr-l bdr-r h-40 fen-list" style="padding: 0px;">
											<div class="col-md-3 bdr-r h-40">
												<input type="radio" name="" id="" value="" />
												<label>分区2</label>
											</div>
											<div class="col-md-3 bdr-r h-40">
												2
											</div>
											<div class="col-md-3 bdr-r h-40">
												90
											</div>
											<div class="col-md-3  h-40">
												28
											</div>
										</div>

									</div>

								</div>

							</div>
							
							
							<h4 class="mt-30">资源配置</h4>
							<div class="form-group col-md-12 mt-15 pdl-40">
						  		<div class="form-group col-md-12 bdr pdtb-30">
						  			<div class="c-box col-md-4">
										<h4 class="col-sm-3 control-label t-r fz-16"><span class="x-span"></span>CPU</h4>
										<div class="input-group col-md-8">
											<select class="form-control">
												<option value="2">2</option>
												<option value="4" selected="selected">4</option>
												<option value="8">8</option>
											</select>	
											<span class="input-group-addon">Core</span>
										</div>
									</div>
									
									<div class="c-box col-md-4">
										<h4 class="col-sm-3 control-label t-r fz-16"><span class="x-span"></span>内存</h4>
										<div class="input-group col-md-8">
											<select class="form-control">
												<option value="8">8</option>
												<option value="16" selected="selected">16</option>
												<option value="32">32</option>
											</select>
											<span class="input-group-addon">GB</span>
										</div>
									</div>
									
									<div class="c-box col-md-4">
										<h4 class="col-sm-3 control-label t-r fz-16"><span class="x-span"></span>GPU数量</h4>
										<div class="input-group col-md-8">
											<select class="form-control">
											
												<option value="1" selected="selected">1</option>
												<option value="2">2</option>
												
											</select>
											<span class="input-group-addon">个</span>
										</div>
									</div>
									
						  		</div>
						  	</div>	
					</div>
					
					<div class="col-md-12 mt-30">
						<input type="reset" name="" id="" value="重置" class="tuning-btn hover-red"/>
						<input type="submit" name="" id="" value="开始训练" class="tuning-btn bg-green c-white"/>
					</div>
			</form>
			
				</div>

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom bg-white">Copyright © 2017
					<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.</div>

			</div>
		</div>

		<!--{% include 'new/public/script.html'%}-->
	<script src="advance/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="advance/js/bootstrap-3.3.6.min.js"></script>
	<script src="advance/js/jquery.nicescroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="advance/js/jquery.autocomplete-1.2.21.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="advance/js/public.js" type="text/javascript" charset="utf-8"></script>
	<script src="advance/js/tuning.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>