<!DOCTYPE html>
<html>

	<head>
		{% include 'new/public/meta.html' %}

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='advance/css/userManage.css')}}"/>
	</head>

	<body>
	<style>
		a:focus{
			text-decoration: none;
		}
	</style>

	{% include 'new/public/header.html' %}
		
		
		<!--新建用户-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					添加用户
				</h4>
			</div>
			<div class="modal-body">
				 <div class="form-group">
            <label for="user-name" class="control-label">用户名</label>
					 <span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
            <input type="text" class="form-control" id="user-name">
          </div>
          <div class="form-group">
            <label for="u-depart" class="control-label">部门</label>
            <select name="" id="u-depart" class="form-control">
            	<option value="depart1">depart1</option>
            </select>
          </div>
          <div class="form-group">
            <label for="user-email" class="control-label">邮箱</label>
			  <span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
            <input type="text" class="form-control" id="user-email">
          </div>
          <div class="form-group">
            <label for="user-phone" class="control-label">手机号</label>
			  <span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
            <input type="text" class="form-control" id="user-phone">
          </div>
          
          
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn-yes bg-green c-white">
					确认
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!--新建部门-->

		<div class="modal fade" id="myDepart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新建部门
				</h4>
			</div>
			<div class="modal-body">
				 <div class="form-group">
            <label for="depart-name" class="control-label">部门名称</label>
					 <span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
            <input type="text" class="form-control" id="depart-name">
          </div>
          <div class="form-group">
            <label for="depart-priority" class="control-label">优先级</label>
            <select name="" id="depart-priority" class="form-control">
            	<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
            </select>
          </div>
          <div class="form-group">
          	
          		<label for="gpu-max" class="control-label">资源配额(GPU使用上限)</label>
			  <span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
            <input type="text" class=" form-control" id="gpu-max">
            <!--<span class="input-group-addon">个</span>-->
          	
            
          </div>
         
          
          
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn-yes bg-green c-white">
					确认
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!--编辑用户-->

	<div class="modal fade" id="editorUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						编辑用户
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="user-oldname" class="control-label">用户名: </label>
						<span class="form-control-static" id="user-oldname"></span>
					</div>
					<div class="form-group">
						<label for="u-olddepart" class="control-label">部门</label>
						<select name="" id="u-olddepart" class="form-control">
							<option value="depart1">depart1</option>
						</select>
					</div>
					<div class="form-group">
						<label for="user-oldemail" class="control-label">邮箱</label>
						<span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
						<input type="text" class="form-control" id="user-oldemail">
					</div>
					<div class="form-group">
						<label for="user-oldphone" class="control-label">手机号</label>
						<span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
						<input type="text" class="form-control" id="user-oldphone">
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn-yes bg-green c-white">
						确认
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>



	<!--编辑部门-->
	<div class="modal fade" id="editorDepart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						编辑部门
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="depart-oldname" class="control-label">部门名称: </label>
						<span class="form-control-static" id="depart-oldname"></span>
					</div>
					<div class="form-group">
						<label for="depart-oldpriority" class="control-label">优先级</label>
						<select name="" id="depart-oldpriority" class="form-control">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="form-group">

						<label for="oldgpu-max" class="control-label">资源配额(GPU使用上限)</label>
						<span class="name_tishi c-red f-r" style="padding: 0 5px"></span>
						<input type="text" class=" form-control" id="oldgpu-max">
						<!--<span class="input-group-addon">个</span>-->


					</div>



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn-yes bg-green c-white">
						确认
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>







	<!--删除提示-->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteUser">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-body pd-n h-50 center">
					确认删除？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn-yes bg-green c-white">
						确认
					</button>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteDepart">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-body pd-n h-50 center">
					确认删除？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn-yes bg-green c-white">
						确认
					</button>

				</div>
			</div>
		</div>
	</div>
<!--驳回-->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="unUser">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-body pd-n h-50 center">
					确认驳回？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<button type="button" class="btn-yes bg-green c-white">
						确认
					</button>

				</div>
			</div>
		</div>
	</div>
		
		
		
		

		<div class="container-fluid" style="margin-top: 51px;">
			<div class="row" id="row-box">

				{% include 'new/public/left.html' %}

				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main" style="padding: 0px 20px;">

							<h4 class="page-header bdr-n">用户管理</h4>
							<div class="col-md-12 b-nav bg-white">
								<ol class="breadcrumb bg-white mb-0 pdtb-15">
								    <li><a href="#" class="c-gray">Home</a></li>
								    <li><a href="{{url_for('hyperai.views.user_manage')}}" class="c-gray">系统管理</a></li>
								    <li class="c-green">用户管理</li>
								</ol>
							</div>

					<!--提示框-->
					<div class="static">
						<div id="myAlert" class="alert col-md-6">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<strong>成功！</strong>
						</div>
					</div>

					<div class="col-md-12 mt-30 content-list" style="background: #FFFFFF; padding:20px 30px;height: 720px ">

						<div class="col-md-12 bdr-b title-btn" style="padding: 0;margin-bottom: 20px;">

							<!--<div class="dropdown">-->
								<span class="s-bdr s-btn dropdown-toggle" id="menu1" data-toggle="dropdown">用户</span>
								<span class="s-btn">部门</span>
								
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li role="presentation" class="wait-user">
										<a role="menuitem" tabindex="-1" href="#">待审核</a>
									</li>
									<li role="presentation" class="pass-user">
										<a role="menuitem" tabindex="-1" href="#">已审核</a>
									</li>
								</ul>
							<!--</div>-->

							<span class="navbar-right create-user create-btn" data-toggle="modal" data-target="#myModal">添加用户</span>
							<span class="navbar-right create-depart create-btn" data-toggle="modal" data-target="#myDepart">新建部门</span>

						</div>
				
						<div class="col-md-12 wait-box" style="padding: 0;">
							<div class="table-responsive">
								<table class="table table-striped ">
		              <thead>
		                <tr>
		                  
		                  <th>用户名</th>
		                  <th>申请部门</th>
		                 
		                  <th>操作</th>
		                  
		                </tr>
		              </thead>
		              <tbody class="user_all_select">
		                <tr>
		                  
		                  <td></td>
		                  <td></td>
		                  
		                  
		                  <td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
							  <span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

		                  </td>
							<td class="pid"></td>
		                </tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>
						<tr>

							<td></td>
							<td></td>


							<td>
							  <span class="user_alert_btn_yer span-box">
								 <i class="iconfont icon-tongguo" style="font-size: 20px;"></i>
								  <em class="c-green">通过</em>
							  </span>
								<span class="user_alert_btn_no span-box" data-toggle="modal" data-target="#unUser">
								  <i class="iconfont icon-weitongguo"></i>
								  <em class="c-green">驳回</em>
							  </span>

							</td>
							<td class="pid"></td>
						</tr>



		               
		             
		               
		                
		              </tbody>
		            </table>
							</div>
							<div class="w-100 page_box f-l" style="margin-top: 40px;">
								<div id="page1">

								</div>
							</div>
						</div>

								<div class="col-md-12 user-box" style="padding: 0;">
									<div class="table-responsive">
								<table class="table table-striped ">
									<thead>
										<tr>
											<th>
												<input type="checkbox" name="" id="" value="" class="check_all" />
												<i class="iconfont icon-shanchu delete-icon" data-toggle="modal" data-target="#deleteUser" style="visibility: hidden"></i>
											</th>
											<th>用户名</th>
											<th>部门</th>
											<th>邮箱</th>
											<th>手机号</th>
											<th>操作</th>

										</tr>
									</thead>
									<tbody class="user_all">
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												
												
											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>
										<tr>
											<td>
												<input type="checkbox" name="subcheck" id="" value="" class="check_each" />
											</td>
											<td class="username">test</td>
											<td class="userdepart">depart1</td>
											<td class="useremail">123@123.com</td>
											<td class="userphone">15112345678</td>

											<td>
												<span class="user-edit span-box" data-toggle="modal" data-target="#editorUser">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>


											</td>
											<td class="pid"></td>
										</tr>

									</tbody>
								</table>
									</div>
									<div class="w-100 page_box f-l" style="margin-top: 40px;">
										<div id="page2">

										</div>
									</div>
								</div>

										<div class="col-md-12 depart-box" style="padding: 0;">
											<div class="table-responsive">
								<table class="table table-striped ">
									<thead>
										<tr>

											<th>部门名称</th>
											<th>资源配额</th>
											<th>优先级</th>

											<th>操作</th>

										</tr>
									</thead>
									<tbody class="depart_list">
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>
										<tr>

											<td class="c-green departname">depart1</td>
											<td>GPU使用上限为<span style="color: #FF6376;">6</span></td>
											<td>2</td>

											<td>
												<span class="depart-edit span-box" data-toggle="modal" data-target="#editorDepart">
													<i class="iconfont icon-bianji"></i>
													<em class="c-green">编辑</em>
												</span>
												<span class="depart-delete span-box" data-toggle="modal" data-target="#deleteDepart">
													<i class="iconfont icon-shanchu"></i>
													<em class="c-green">删除</em>
												</span>

											</td>
											<td class="pid"></td>
										</tr>

									</tbody>
								</table>

							</div>
											<div class="w-100 page_box f-l" style="margin-top: 40px;">
												<div id="page">

												</div>
											</div>

						</div>

					</div>

				</div>
				
				


				
				
				
				<div class="col-sm-11 col-sm-offset-3 col-md-20 col-md-offset-2 main nav-bottom bg-white" >Copyright © 2017
					<a href="#">中科弘云科技(北京)有限公司,</a> All rights reserved.</div>

			</div>
		</div>

		{% include 'new/public/script.html'%}
		<script src="{{url_for('static', filename='advance/js/paging.js')}}" type="text/javascript" charset="utf-8"></script>
		<script src="{{url_for('static', filename='advance/js/userManage.js')}}" type="text/javascript" charset="utf-8"></script>

	</body>

</html>