.tab-box span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 40px;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}
.tab-color{
	color: #FFFFFF;
	background-color: #00B5B8;
}
.user-toggle{
	display: inline-block;
	height:40px ;
	width: 130px;
	float: right;
	margin-bottom: 10px;
}
.user-toggle a{
	display: inline-block;
	height: 40px;
	width: 130px;
	line-height: 40px;
	color: #626E82;
}
.user-toggle a img{
	display: inline-block;
	width: 35px;
	height: 30px;
}
/*form{
	display: block;
	width: 100%;
}*/
.form2{
	display: none;
}
.p-box{
	width: 70%;
	/*margin-left: 10%;*/
}
.para-box{
	display: block;
	width: 100%;
	/*height: 40px;*/
	margin-top: 15px;
}
.para-box h3,.resour-box h3{
	width: 17%;
	margin-right: 1%;
	overflow: inherit !important;
}
.para-box span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding: 0 20px;
	margin-right: 20px;
	background: #d9dce1;
	color: #2c3850;
}
@media screen and (min-width: 1400px){
	.para-box select{
		width: 20%;
		height: 40px;
		outline: none;
		border: 1px solid #D9DCE1;
		/*margin-left: 18%;*/
	}
	.para-box textarea{
		width: 73%;
	}
	.resour-box{
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	.resour-box .sel-box{
		display: inline-block;
		width: 75%;
		min-height: 100px;
		border: 1px solid #D9DCE1;
	}
}
@media screen and (max-width: 1400px){
	.para-box select{
		width: 20%;
		height: 40px;
		outline: none;
		border: 1px solid #D9DCE1;

	}
	.para-box textarea{
		width: 77%;
	}
	.resour-box{
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	.resour-box .sel-box{
		display: inline-block;
		width: 80%;
		min-height: 100px;
		border: 1px solid #D9DCE1;
	}
}
/*.para-box select{*/
/*width: 75%;*/
/*height: 40px;*/
/*outline: none;*/
/*border: 1px solid #D9DCE1;*/
/*margin-left: 18%;*/
/*}*/
/*.para-box textarea{*/
/*width: 73%;*/
/*}*/
/*.resour-box{*/
/*display: block;*/
/*width: 100%;*/
/*margin-top: 15px;*/
/*}*/
/*.resour-box .sel-box{*/
/*display: inline-block;*/
/*width: 75%;*/
/*min-height: 150px;*/
/*border: 1px solid #D9DCE1;*/
/*}*/
.box1{
	width: 30%;
	margin:20px 0 0 10px;
}
.box1 h3,.box2 h3{
	padding: 0 !important;
	width: 40%;
	margin-right: 1%;
	overflow: inherit !important;
	/*border: 1px solid red;*/
}
.box1 select,.box1 input{
	width: 50%;
	height:40px;
	outline: none;
	border: 1px solid #D9DCE1;
	/*margin: 10px 0 0 10px;*/
	padding:0 5px;

}
.box2{
	display: block;
	width: 30%;
	margin:20px 10px;
}


.box2  input{
	/*margin-left: 20px;*/
	width:45%;
	height: 40px;
	outline: none;
	border: 1px solid #D9DCE1;
	/*margin: 10px 0 0 10px;*/
	padding:0 5px;
}
.form2 .box2{
	display: block;
	width: 30%;
	margin-left:10px;
}
.form2 .box2 h3{
	width: 40%;
}
.form2 .box2 select{
	width: 50%;
	height:40px;
	outline: none;
	border: 1px solid #D9DCE1;
	padding:0 5px;
}




.bg-whilte {
	background: #FFFFFF;
}
.bg-red{
	background: #FF6376;
}
.bg-green{
	background: #00B5B8;
}
.c-white{
	color: #FFFFFF;
}
.inner-container {
	width: 100%;
	min-height: 300px;
	padding: 30px 20px;
}

.title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}

.content {
	width: 100%;
	min-height: 300px;
	padding: 0 15px;
}

.title .step {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
}

.title h4 {
	height: 30px;
	line-height: 30px;
}

.content-box {
	width: 100%;
	/*min-height: 300px;*/
	border-left: 1px solid #00B5B8;
}

.mt-30 {
	margin-top: 30px;
}

.w-20 {
	width: 20%;
}

.w-60 {
	width: 60%;
}

.ct-box {
	display: inline-block;
	float: left;
	width: 100%;
	padding: 0 40px;
}

.ct-box h3 {
	display: inline-block;
	line-height: 40px;
	padding: 0 10px;
	font-family: "宋体";
	font-size: 14px;
	font-weight: 200;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}

.ct-box .x-t {
	color: red;
}

.input-info {
	display: inline-block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-family: "宋体";
	font-size: 12px;
	font-weight: 200;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.bdr {
	border: 1px solid #d9dce1;
}

.bdr:focus {
	border: 1px solid #00B5B8;
}

select {
	outline: none;
}

.table-th {
	width: 100%;
	border: 1px solid #ddd;
}

.table-tr {
	width: 100%;
	background: #fff5ee;
}

.bdr-r {
	border-right: 1px solid #ddd;
}

.bdr-b {
	border-bottom: 1px solid #ddd;
}

.bdr-l {
	border-left: 1px solid #ddd;
}

.bdr-t {
	border-top: 1px solid #ddd;
}

.th-l {
	width: 28%;
	height: 80px;
	line-height: 80px;
}

.th-r {
	width: 72%;
}

.th-r-t {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.th-r-b {
	width: 100%;
}

.th-r-b ul {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.th-r-b ul li {
	width: 33.3%;
	padding-left: 20px;
}

.th-l h4 {
	width: 80%;
	font-size: 16px;
	font-weight: 400;
	padding-left: 50px;
}

.tr-l {
	width: 28%;
	height: 40px;
	line-height: 40px;
	padding-left: 30px;
}

.btn-find {
	width: 80px;
	height: 42px;
	line-height: 42px;
	background: #00b5b8;
	color: #ffff;
	border-radius: 5px;
	color: white;
	position: relative;
	left: -80px;
	top: 0px;
	border: none;
}

.img-box {
	width: 100%;
}

.img-title {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.img-btn {
	display: inline-block;
	width: 100px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	cursor: pointer;
}

.img-c {
	color: #00B5B8;
	border-bottom: 1px solid #00B5B8;
}

.img-list {
	width: 100%;
}

.img-con-t {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.w-50 {
	width: 50%;
}

.img-con-tl,
.img-con-tr {
	text-align: center;
}
.img-con-tl{
	padding-left: 10px;
}
.img-con-tl input{
	height: 40px;
	margin-right: 10px;
}
.img-con-tl h4{
	font-weight: 400;
	text-align: left;
}
.img-list-box,
.img-detail-box,
.public-img-list,.private-img-list {
	width: 100%;
}

.img-detail-box {
	padding-left: 70px;
}

/*.img-detail-info {
    width: 100%;
    background: #F8F8FF;
}*/

.w-10 {
	width: 10%;
}

.w-90 {
	width: 90%;
}

.w-15 {
	width: 15%;
}

.w-40 {
	width: 40%;
}
.w-20{
	width: 20%;
}
.w-100{
	width: 100%;
}

.img-detail,
.img-detail-t {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.private-img {
	display: none;
}
.public-img,.private-img{
	background: #F8F8FF;;
}
.img-detail-box{
	display: none;
}
.img-detail-box ul {
	width: 100%;
}

.img-detail-box ul li {
	padding-left: 10px;
}

.w-5 {
	width: 5%;
}

.img-con-tl .btn-span {
	cursor: pointer;
}
.img-con-tl .btn-span i {
	display: block;
	width: 12px;
	margin: auto;
	transform: rotate(-90deg);
}
.btn-box{
	width: 100%;
	height: 40px;

}
.btn-box input{
	width: 80px;
	height: 40px;
	font-size: 16px;
	border: none;

}
.btn-box input:nth-child(1){
	background: #dedce1;
}
.btn-box input:nth-child(2){
	margin-left: 50px;
}
.btns{
	width: 300px;
	margin: auto;
}
.input-info:focus{
	border:1px solid #00b5b8;
}
.load-file{
	position: relative;
	left: -100px;
	display: inline-block;
	width: 100px;
	color: #fff;
	text-align: center;
	height: 42px;
	line-height: 42px;
	background: #ff6376;
}
.load-file input{
	position: absolute;
	font-size: 20px;
	width: 100px;
	height: 40px;
	right: 4px;
	top: 0px;
	opacity: 0;
	cursor: pointer;
}
.home-btn-box{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 30px;
}
.home-btn-box span{
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.form2{
	display: none;
}
.gt-box{
	display: none;
}
.bg-green2 {
	background-color: #00B5B8;
}
.bdr-c{
	border: 1px solid #dedce1;
}











