# hyperai systemd service
[Unit]
Description=hyperai server
After=local-fs.target network.target

[Service]
User=www-data
Environment="DIGITS_JOBS_DIR=/var/lib/hyperai/jobs"
Environment="DIGITS_LOGFILE_FILENAME=/var/log/hyperai/hyperai.log"
ExecStart=/usr/bin/python -m hyperai -p 34448
Restart=on-failure
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
