{% from "helper.html" import print_flashes %}
{% from "helper.html" import print_errors %}
{% from "helper.html" import mark_errors %}

{% extends 'new/public.html' %}



{% block topfile %}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/bitbug_favicon.ico') }}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/public.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sub.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/iconfont.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/iCheck/skins/minimal/grey.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calendar.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/modetrain_D.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/Feffects.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='plugins/iCheck/icheck.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jq-datepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.nicescroll.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jqmeter.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>
<script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
{% endblock topfile %}

{% block rightcontent %}
<div class="f-l title">
	<h1 class="f-l c-grayblue"> 数据管理 </h1>
	<span class="f-l c-gray"> Welcome back, {{ request.cookies.username }} </span>
</div>
	  <div class="f-l sub-title bgc-white">
		<a href="homeworkMonitor.html" class="f-l c-gray c-aqua-h"><span class="f-l"> Home   </span><em class="f-l c-gray"> / </em></a>
		<a href="#" class="f-l c-gray c-aqua-h"><span class="f-l"> 模型训练 </span><em class="f-l c-gray"> / </em></a>
	  </div>
<div class="f-l title bgc-white">
	<h3 class="f-l c-grayblue"> 新建模型 </h3>
</div>

<div class="f-l lis-n bgc-white" style="padding: 10px 20px 20px;">
		<div class="user-toggle">
			<a href="{{url_for('hyperai.model.images.generic.views.new')}}"> <img src="{{url_for('static', filename='images/pic/toggle.png')}}"/>普通模式</a>
		</div>
	<form action="#" class="f-l">
		<div class="c-box bdr lis-nl ipt_all">
			<div class="c-box m-t15">
				<h3 class="f-l w-15 c-grayblue"> 代码文件:   </h3>
				<input type="text" placeholder="请输入路径" class="f-l bdr w-65 input-info c-gray input_file_text" />
				<a href="" class="f-l bgc-red bgc-Aqua-h upload-file c-white w-13" style="width: 130px; ">
					<input class="input_file" type="file" /> 浏览
				</a>
			 </div>
			 <div class="c-box m-t15">
				<h3 class="f-l w-15 c-grayblue"> 数据集选择: </h3>
				<input type="text" placeholder="请输入路径" class="f-l bdr w-65 input-info c-gray input_file_text" />
				<select class="select_i f-l w-13" style="width: 130px">
					<option value="1">选择数据集</option>
					<option value="1">1</option>
					<option value="1">1</option>
					<option value="1">1</option>
					<option value="1">1</option>
					<option value="1">1</option>
					<option value="1">1</option>
				</select>
			 </div>
			 <div class="c-box m-t15">
				 <h3 class="f-l w-15 c-grayblue"> 参数（可选）: </h3>
				<textarea class="f-l input-info bdr" placeholder="给出一些样例" style="width: 75%"></textarea>
			 </div>
			<div class="c-box m-t15">
				<h3 class="f-l w-10 c-grayblue"> 选择资源: </h3>
				<div class="select_D bdr f-l">
					<div class="upn_i">
						<div class="f-l upn_i_name btn_all_node btn_i_node">单节点配置：</div>
						<div class="f-l upn_i_text">
							<span>CPU(Core)</span>
							<select>
								<option value="4">4</option>
								<option value="8">8</option>
								<option value="16">16</option>
								<option value="32">32</option>
							</select>
						</div>
					</div>
					<div class="upn_i">
						<div class="f-l upn_i_name btn_all_node">分布式配置：</div>
						<div class="f-l upn_i_text">
							<span>内存(GB)</span>
							<select>
								<option value="16G">16G</option>
								<option value="32G">32G</option>
								<option value="64G">64G</option>
								<option value="128G">128G</option>
							</select>
						</div>
					</div>
					<div class="upn_i">
						<div class="f-l upn_i_name"></div>
						<div class="f-l upn_i_text">
							<span>GPU(Card)</span>
							<!--<span>2/2</span>-->
							<select>
								<option value="">#0 - Tesla K40c (11.2 GB memory)</option>
								<option value="">#1 - Quadro K420 (979 MB memory)</option>
							</select>

						</div>
					</div>
					<style>

						.btn_all_node{    display: inline!important;
							width: 100px;
							/*margin: 0 10px;*/
							text-align: center;
							color: #2c3850;
							background: #d9dce1;
							cursor: pointer;
						}
						.btn_i_node{    color: white;
    						background: rgb(0, 181, 184);
						}
					</style>
					<script>
						$('.btn_all_node').on('click',function () {
						    $('.btn_all_node').removeClass('btn_i_node')
							$(this).addClass('btn_i_node')
							if($(this).text()=='分布式配置：'){
						        $('.btn_i_node_duo').css('display','block')
							}
							else {
							    $('.btn_i_node_duo').css('display','none')
							}
                        })
					</script>
					<div class="upn_i btn_i_node_duo" style="display: none;">
						<div class="f-l upn_i_name">节点数量：</div>
						<div class="f-l upn_i_text">
							<select>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
							</select>
							<!--<span>节点数量</span>-->
							<!--<select>-->
								<!--<option value="0">0</option>-->
								<!--<option value="1">1</option>-->
								<!--<option value="2">2</option>-->
								<!--<option value="3">3</option>-->
								<!--<option value="4">4</option>-->
								<!--<option value="5">5</option>-->
								<!--<option value="6">6</option>-->
								<!--<option value="7">7</option>-->
								<!--<option value="8">8</option>-->
							<!--</select>-->
						</div>
				</div>
			</div>
		</div>
    <form action="#">
		<!--提交按钮-->
		 <!--<a href="#" class="f-l btn-8 m-t15 m-r15 c-grayblue bgc-red-h c-white-h bgc-gray-b"> 取消 </a>-->
		<input class="f-l btn-8 m-t15 m-r15 c-grayblue bgc-red-h c-white-h bgc-gray-b sbmit sbmit_i" type="reset" name="" id="" value="取消" />
		<!--<a href="#" class="f-l btn-8 m-t15 m-r15 c-white bgc-Aqua bgc-red-h">-->
		<input class="f-l btn-8 m-t15 m-r15 c-white bgc-Aqua bgc-red-h sbmit sbmit_i" type="submit" name="" id="" value="提交" />
		<!--</a>-->
	</form>
</form>
</div>
{% endblock rightcontent %}