{% extends 'new/public.html' %}


{% block topfile %}


    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bitbug_favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sub.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconfont.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/iCheck/skins/minimal/grey.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Feffects.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/iCheck/icheck.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jq-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/public.js') }}"></script>
{% endblock %}

{% block rightcontent %}
{%for category in new_model_options.keys()|sort%}
{% set options = new_model_options[category] %}
{% for id in options.keys()|sort %}
{% set option = options[id] %}
<p style="display: none;" id="{{option["title"]}}">{{option["url"]}}</p>
 {% endfor %}
{% endfor %}
<style>
    .container{min-height: 88vh;}
</style>
    <div class="f-l title">
        <h1 class="f-l c-grayblue"> 模型管理 </h1>
        <span class="f-l c-gray"> Welcome back, {{ request.cookies.username }} </span>
    </div>

    <div class="f-l sub-title bgc-white">
        <a href="{{ url_for('hyperai.views.index') }}" class="f-l c-gray c-aqua-h"><span class="f-l"> Home   </span><em
                class="f-l c-gray"> / </em></a>
        <a href="#" class="f-l c-gray c-aqua-h"><span class="f-l"> 模型管理 </span><em class="f-l c-gray"> / </em></a>
    </div>

    <div class="f-l lis-d bgc-white">
        <div class="l-box">
            <a href="#" class="f-l btn-2 bgc-Aqua c-white m-r25 bgc-red-h c-white-h btn_new_model"> 新建模型 </a>
            <a href="{{url_for('hyperai.show.views.shop',path='model') }}" class="f-l btn-2 bgc-Aqua c-white m-r25 bgc-red-h c-white-h"> 查看共享模型 </a>
        </div>
        <div class="r-box">
            <input type="search" placeholder="输入需要查找的模型名称" class="btn_select_i_text f-l c-gray input-info bdr-n bdr-b"/>
            <a href="#" class="f-l btn-3 c-gray c-red-h btn_select_i"><i class="f-l iconfont fz-24"> &#xe608; </i></a>
            <script>
                $('.btn_select_i').on('click',function () {
                    window.location.href='modelmanage?name='+encodeURI($('.btn_select_i_text').val())
                })
            </script>
        </div>
    </div>
    <div class="newModel_odiv">
        <!--mask-newdataset-popup-->
         <div class="f-l newModel_odiv_i bgc-white">
            <div class="f-l popup-title bgc-gray">
                <h1 class="f-l c-gray"> 新建模型 </h1>
                <a href="#" class="f-r popup-close bgc-Aqua bgc-red-h c-white btn_new_no"><i class="fz-24 iconfont"> &#xe676; </i></a>
            </div>

            <div class="c-box">
                <form action="" method="">
                    <h2 class="f-l m-t30 c-grayblue "> 选择新建模型应用场景 </h2>
                        <select name="" id="select_cj" class="f-l c-gray" style="width: 350px;height: 40px;border: 1px solid #d9dce1;margin: 10px 20%;">
                            <option value="图像分类">图像分类</option>
                            <option value="目标检测">目标检测</option>
                            <option value="图像分割">图像分割</option>
                            <!--<option value="图像处理">图像处理</option>-->
                            <!--<option value="文本分类">文本分类</option>-->
                            <!--<option value="其他">其他</option>-->
                             <option value="医疗影像">医疗影像</option>

                        </select>

                    <div class="c-box m-t150 btn_12358">
                        <a href="#" class="btn-6 m-l15 bgc-red-h bgc-gray-b c-grayblue c-white-h btn_select_no"> 取消 </a>
                        <a href="#" class="btn-6 m-l15 bgc-red-h c-white bgc-Aqua btn_model_href"> 提交 </a>
                        <!--<input type="button" class="btn-6 m-l15 bgc-red-h bgc-gray-b c-grayblue c-white-h" value="取消">-->
                        <!--<input type="submit" class="btn-6 m-l15 bgc-red-h c-white bgc-Aqua">-->
                        <script>
                            $('.btn_select_no').on('click',function () {
                                $('.newModel_odiv').css('display','none')
                                
                            })
                        </script>

                    </div>
                </form>
            </div>
        </div>
    </div>
<style>
    .newModel_odiv{
        position: fixed;
        z-index: 9999;
        top:0;
        left:0;
        height:100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, .6);
        display: none;
    }
    .newModel_odiv_i{
        position: relative;
        top: 20%;
        left: 50%;
        width: 550px;
        height: 400px;
        margin-left: -275px;
        background-color: #fff;
        /*display: none;*/
        text-align: center;
    }
    .newModel_odiv_i h2{    display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-family: "微软雅黑";
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    #select_cj{width: 80%;height: 45px;
        margin: 10px 10%;
        /*margin-left: 10%;*/
    }
    .btn_12358 input{width: 135px!important;}
</style>


<p class="model_select_1" style="display: none;">{{apply_scence}}</p> <p class="model_select_2" style="display: none;">{{framework}}</p> <p class="model_select_3" style="display: none;">{{network}}</p>
<script>
$(window).bind('load',function () {
    $('.model_select_1_i').each(function(){
//        console.log($(this).text())

        if($(this).text()==$('.model_select_1').text()){
            $(this).parent().addClass('filter-currentr')
            $(this).parent().siblings().removeClass('filter-currentr')
        }

})
    $('.model_select_2_i').each(function() {
//        console.log($(this).text())

        if ($(this).text() == $('.model_select_2').text()) {
            $(this).parent().addClass('filter-currentr')
            $(this).parent().siblings().removeClass('filter-currentr')
        }
    })
        $('.model_select_3_i').each(function() {

//            console.log($(this).text())
            if ($(this).text() == $('.model_select_3').text()) {
                $(this).parent().addClass('filter-currentr')
                $(this).parent().siblings().removeClass('filter-currentr')
            }
        })

    })

</script>
<div class="f-l lis-e bgc-white">
        <div class="f-l filterbox">
            <div class="f-l filter-div bdr-b">
                <h2 class="f-l c-grayblue"> 场景： </h2>
                <ul class="f-l filter-list cj_list">
                    <li class="f-l sort-s filter-currentr c-gray"><span>None</span><p class="model_select_1_i" style="display: none">None</p></li>
                    <li class="f-l sort-s c-gray"><span>图像分类</span><p class="model_select_1_i" style="display: none">classification</p></li>
                    <li class="f-l sort-s c-gray"><span>目标检测</span><p class="model_select_1_i" style="display: none">image-object-detection</p></li>
                    <li class="f-l sort-s c-gray"><span>图像分割</span><p class="model_select_1_i" style="display: none">image-segmentation</p></li>
                    <!--<li class="f-l sort-s c-gray"><span>图像处理</span><p class="model_select_1_i" style="display: none">image-processing</p></li>-->
                    <!--<li class="f-l sort-s c-gray"><span>文本分类</span><p class="model_select_1_i" style="display: none">text-classification</p></li>-->
                     <li class="f-l sort-s c-gray"><span>医疗影像</span><p   class="model_select_1_i" style="display: none">image-sunnybrook</p></li>
            
                </ul>
                <!--<div class="filter-morel f-r"></div>-->
            </div>
            <div class="f-l filter-div bdr-b">
                <h2 class="f-l c-grayblue"> 框架： </h2>
                <ul class="f-l filter-list kj_list">
                    <li class="f-l sort-s filter-currentr c-gray"><span>None</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_2_i">tensorflow</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_2_i">caffe</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_2_i">torch</span></li>



                    <li class="f-l sort-s c-gray"><span class="model_select_2_i">other</span></li>
                </ul>
                <!--<div class="filter-morel f-r"></div>-->
            </div>
            <div class="f-l filter-div bdr-b">
                <h2 class="f-l c-grayblue"> 网络： </h2>
                <ul class="f-l filter-list wl_list">
                    <li class="f-l sort-s filter-currentr c-gray"><span>None</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">lenet</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">alexnet</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">googlenet</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">vgg16</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">resnet50</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">resnet101</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">resnet152</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">detectnet</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">fcn-alexnet</span></li>
                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">char-cnn</span></li>
                    <!--<li class="f-l sort-s c-gray"><span class="model_select_3_i">tesnet101</span></li>-->
                    <!--<li class="f-l sort-s c-gray"><span class="model_select_3_i">resnet152</span></li>-->
                    <!--<li class="f-l sort-s c-gray"><span class="model_select_3_i">resnet50</span></li>-->
                    <!--<li class="f-l sort-s c-gray"><span class="model_select_3_i">detectnet</span></li>-->
                    <!--<li class="f-l sort-s c-gray"><span class="model_select_3_i">fcn-alexnet</span></li>-->
                    <!--<li class="f-l sort-s c-gray"><span class="model_select_3_i">char-cnn</span></li>-->

                    <li class="f-l sort-s c-gray"><span class="model_select_3_i">other</span></li>
                </ul>
                <!--<div class="filter-morel f-r"></div>-->
            </div>
            <script>
                var href_obj={'apply_scence':$('.model_select_1').text(),'framework':$('.model_select_2').text(),'network':$('.model_select_3').text()}

                $('.cj_list li').on('click',function () {
//                    console.log($(this).text())
                    href_obj.apply_scence=$(this).children('p').text()
                     console.log(href_obj)
                    window.location.href='modelmanage?apply_scence='+href_obj.apply_scence+'&framework='+href_obj.framework+'&network='+href_obj.network+'&p=1'
                })
                 $('.kj_list li').on('click',function () {
//                    console.log($(this).text())
                    href_obj.framework=$(this).text()
                      console.log(href_obj)
                     window.location.href='modelmanage?apply_scence='+href_obj.apply_scence+'&framework='+href_obj.framework+'&network='+href_obj.network+'&p=1'
                })
                 $('.wl_list li').on('click',function () {
//                    console.log($(this).text())
                    href_obj.network=$(this).text()
                     console.log(href_obj)
                      window.location.href='modelmanage?apply_scence='+href_obj.apply_scence+'&framework='+href_obj.framework+'&network='+href_obj.network+'&p=1'
                })
            </script>
        </div>
        <div class="c-box">
            <ul class="f-l lis-e-ul">
                {%for model in datas.user_models%}
                {%set num = ['1','2','3','4','5']|random%}
                <li class="f-l lis-e-view">
                    <a href="{{ url_for('hyperai.views.model_m_detail',job_id=model.id()) }}" class="f-l pic"><img src="{{ url_for('static', filename='images/e-'+num+'.png') }}"
                                                     class="f-l trans-a trans-h"/></a>
                    <h2 class="f-l c-grayblue bdr-b"> {{model.name()}} </h2>
                    <div class="c-box">
                        <a {%if model.status == 'D' %}href="{{url_for('hyperai.model.views.to_store', job_id=model.id())}}" {%else%} href='#'{%endif%} class="f-l btn-4 c-gray c-aqua-h"><i class="f-l iconfont plr-5 fz-20"> &#xe663; </i>
                            发布模型 </a>
                        <a href="{{url_for('hyperai.model.views.download', job_id=model.id())}}" class="f-r btn-4 c-gray c-aqua-h"><i class="f-l iconfont plr-5 fz-20"> &#xe600; </i>
                            下载模型 </a>
                    </div>
                    <div class="c-box">
                        <a href="{{url_for('hyperai.views.log_new',job_id=model.id())}}" class="f-l btn-4 c-gray c-aqua-h"><i class="f-l iconfont plr-5 fz-20"> &#xe600; </i>
                            下载日志 </a>
                        <a href="#" class="f-r btn-normal c-white m-r25 m-t10" style="display: none;"> {{model.status.name}} </a>
                        <!--<a href="{{url_for('hyperai.model.views.download', job_id=model.id())}}" class="f-r btn-4 c-gray c-aqua-h"><i class="f-l iconfont plr-5 fz-20"> &#xe68c; </i>-->
                            <!--下载模型 </a>-->
                    </div>

                </li>
                {%endfor%}

            </ul>
            <div class="f-l page-box">
                 <ul class="pagination">
       {% if datas.show_shouye_status==1%}
           <li class=''><a href='/modelmanage?p=1&apply_scence={{apply_scence}}&framework={{framework}}&network={{network}}'>首页</a></li>
           <li class=''><a href='/modelmanage?p={{datas.p-1}}&apply_scence={{apply_scence}}&framework={{framework}}&network={{network}}'>上一页</a></li>
      {%endif%}

       {% for dic in datas.dic_list %}
           {% if dic==datas.p%}
             <li class="active"><a href="/modelmanage?p={{dic}}&apply_scence={{apply_scence}}&framework={{framework}}&network={{network}}">{{dic}}</a></li>
           {%else%}
               <li class=""><a href="/modelmanage?p={{dic}}&apply_scence={{apply_scence}}&framework={{framework}}&network={{network}}">{{dic}}</a></li>
           {%endif%}
        {%endfor%}

       {% if datas.p < datas.total%}
            <li class=''><a href='/modelmanage?p={{datas.p+1}}&apply_scence={{apply_scence}}&framework={{framework}}&network={{network}}'>下一页</a></li>
            <li class=''><a href='/modelmanage?p={{datas.total}}&apply_scence={{apply_scence}}&framework={{framework}}&network={{network}}'>尾页</a></li>
       {%endif%}
            <!--<li class='f-l'>共{{datas.total}}页</li>-->
 </ul>
                <style>
                    .pagination li{display: inline-block;}
                   
                    .pagination a {
                        min-width: 30px;
                        height: 28px;
                        border: 1px solid #dce0e0!important;
                        text-align: center;
                        margin: 0 4px;
                        cursor: pointer;
                        line-height: 28px;
                        color: #666666;
                        font-size: 13px;
                        display: inline-block;
                    }
                    .active  a{color: white!important;
                        background: #00b5b8!important;
                    }
                </style>

            </div>
        </div>
    </div>
{% endblock %}

{% block bottomfile %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/modelManage.js') }}"></script>
{% endblock bottomfile %}
