
{% extends 'new/public.html' %}

{% block topfile %}
<link rel="shortcut icon" href="{{url_for('static', filename='images/bitbug_favicon.ico')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/public.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sub.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/iconfont.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/iCheck/skins/minimal/grey.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calendar.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/datamanage.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/modelmanage.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/product-manage.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.2.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/Feffects.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='plugins/iCheck/icheck.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jq-datepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.nicescroll.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/public.js')}}"></script>
<script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
{% endblock topfile%}

{% block rightcontent %}
<div class="f-l title">
	<h1 class="f-l c-grayblue"> 模型产品 </h1>
	<span class="f-l c-gray"> Welcome back {{ request.cookies.username }}</span>

</div>

<div class="f-l sub-title bgc-white">
	<a href="{{url_for('hyperai.views.index')}}" class="f-l c-gray c-aqua-h"><span class="f-l">Home</span><em class="f-l c-gray"> / </em></a>
	<a href="{{url_for('hyperai.ration.views.show')}}" class="f-l c-gray c-aqua-h"><span class="f-l"> 模型产品 </span><em class="f-l c-gray"> / </em></a>
</div>

<div class="f-l lis-d bgc-white">
	<div class="l-box">
		<a href="{{url_for('hyperai.ration.views.new')}}" class="f-l btn-2 bgc-Aqua c-white m-r25 bgc-red-h c-white-h new-model-btn"> 应用部署</a>
	</div>
</div>

<style>
	@media screen and (max-width: 1500px) {
		.product-url{float: right;
			width: 267px;
			overflow: hidden;
		}
	}
	.right-bottom{
		margin-top: 450px;
	}
</style>
<div class="f-l lis-e bgc-white">
	<div class="c-box">
		<ul class="f-l lis-e-ul">
			{%for job in jobs%}
			<li class="f-l lis-e-view">
				<a href="{{url_for('hyperai.ration.views.show_job',job_id=job.id())}}" class="f-l pic"><img src="{{url_for('static', filename=job.pic)}}" class="f-l trans-a trans-h" /></a>
				<h2 class="f-l c-grayblue bdr-b">{{job.name}}</h2>
				<div class="f-l w-100 h-40 c-gray line-h40">
					<div class="f-l w-50 h-40">
						<span>应用场景：</span>
						<span class="product-scene">{{job.select_scence| transfer}}</span>
					</div>
					<div class="f-l w-50 h-40">
						<span>版本号：</span>
						<span class="product-edition">{{job.version}}</span>
					</div>
				</div>
				{%for url in job.api_url%}
				{%endfor%}
				<div class="f-l w-100 h-40 c-gray line-h40">
					<div class="f-l w-50 h-40">
						<span>调用成功率：</span>
						<span class="product-scene">{%if job.count_success+job.count_fail != 0%}{{(job.count_success/(job.count_success+job.count_fail))*100 }}%{%else%}0%{%endif%}</span>
					</div>
					<div class="f-l w-50 h-40">
						<span>调用总量：</span>
						<span class="product-edition">{{job.count_success+job.count_fail}}</span>
					</div>
				</div>
				<div class="f-l w-100 h-40 c-gray line-h40">
					<span>描述信息：</span>
					<span>{{job.model_desc}}</span>
				</div>
				<div class="c-box">
					<div class="f-l w-30">
						<p href="" class="f-l btn-4 c-gray c-aqua-h w-100px product-state">
							<i class="f-l iconfont plr-5 fz-20 product-state-ing"> &#xe68d; </i>
							<i class="f-l iconfont plr-5 fz-20 product-state-end" style="display: none;">  &#xe633;</i>
							<span class="f-l">{{job.job_status}}</span>
						</p>
					</div>
					<div class="f-l w-30">
						<!--<a href="" class="f-l btn-4 c-gray c-aqua-h w-100px"><i class="f-l iconfont plr-5 fz-20">  &#xe626; </i>封面上传</a>-->
					</div>
					<div class="f-l w-30">
						<a href="#" class="f-r btn-4 c-gray c-aqua-h w-100px product-delete"><i class="f-l iconfont plr-5 fz-20"> &#xe677; </i>删除产品</a>
						<a href="{{url_for('hyperai.ration.views.delete_deployment',job_id=job.id())}}" style="display: none" class="a_none"></a>
					</div>

				</div>
			</li>
			{%endfor%}



		</ul>
		<div class="f-l page-box">
			<div id="page" class="page_div"></div>
		</div>
	</div>
</div>
<style>
	.alert-box,.tishi-box{    z-index: 99998;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);
		display: none;
	}

	.alert-div{
		width: 400px;
		height: 240px;
		background: white;
		margin: 0 auto;
		margin-top: 10%;
		position: relative;
	}
	.tishi-box .alert-div{
		width: 440px;
		padding: 0 20px;
	}
	.alert-div-nav{
		height:40px;
	}
	.alert-div-nav i{
		background: #00b5b8;
		color: white;
	}
	.alert-div-content h3{height: 40px;
		line-height: 40px;
		text-align: center;
		margin-top: 35px;
	}
	.alert-btn{height: 40px;
		text-align: center;
		position: absolute;
		bottom: 20px;
		width: 100%;
	}
	.alert-btn div{display: inline-block; }
	.alert-btn  h3{
		height:40px;
		line-height: 40px;
		width:100px;
	}
	.alert-btn  a{
		/*padding: 0 30px;*/
	}
	.alert-btn-no{
		color: #2c3850;
		background: #d2e0e9;
		margin-right: 20px;
	}
	.alert-btn-yes,.tishi-btn-yes{background: #00b5b8;
		color: white;
	}
	.hover-red:hover{color: white;
		background: #ff6376;
	}
</style>
<div class="alert-box">
	<div class="alert-div">
		<div class="alert-div-nav">
			<!--<i class="fz-24 iconfont f-r hover-red"> &#xe676; </i>-->
		</div>
		<div class="alert-div-content">
			<h3>确认删除？</h3>
		</div>
		<div class="alert-btn">
			<div class="alert-btn-no hover-red">
				<h3>取消</h3>
			</div>
			<div class="alert-btn-yes hover-red">
				<h3><a href="" style="display: inline-block;width: 100%;height:100%;color: #ffffff;">确认</a></h3>
			</div>
		</div>
	</div>
</div>

<!--<div class="tishi-box">-->
	<!--<div class="alert-div">-->
		<!--<div class="alert-div-nav">-->
			<!--&lt;!&ndash;<i class="fz-24 iconfont f-r hover-red"> &#xe676; </i>&ndash;&gt;-->
		<!--</div>-->
		<!--<div class="alert-div-content">-->
			<!--<h3>确认删除？</h3>-->
		<!--</div>-->
		<!--<div class="alert-btn">-->

			<!--<div class="tishi-btn-yes hover-red">-->
				<!--<h3>确认</h3>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<script src="{{url_for('static', filename='js/paging.js')}}" type="text/javascript" charset="utf-8"></script>
<script>
    var delete_url=null;
    var delete_id=null;
    $('.alert-btn-no').on('click',function () {
        $('.alert-box').css('display','none')
    })
    $('.alert-div-nav').on('click',function () {
        $('.alert-box').css('display','none')
    })
    $('.product-delete').on('click',function () {
        $('.alert-box').css('display','block')
        delete_url=$(this).next('.a_none').attr('href');
        $('.alert-btn-yes a').attr('href',delete_url)
        $('.alert-btn-yes a').on('click',function () {
            $('.alert-box').css('display','none')
        })
//		delete_id=$(this).siblings('p').text();
//		$('.alert-btn-yes').on('click',function () {
//
//			$.ajax({
//				type:'DELETE',
//				url:delete_url,
//
//				success:function (res) {
//					console.log(res)
//					if(res.res==2){
//						alert('该数据集已被模型占用、不能删除!')
//					}
//					else {
//						location.reload()
//					}
//				}
//			})
//		})

    })
    // {% if support == 1 %}
    // $('.tishi-box').show();
    // $('.tishi-box .alert-div-content h3').html('集群中没有用于部署的资源池，暂不支持此功能')
    // $('.tishi-btn-yes').on('click',function () {
    //     $('.tishi-box').hide();
    // })
    // $('.new-model-btn').css({'background':'#ddd','color':'#2c3850'})
    // $('.new-model-btn').css('cursor','not-allowed')
    // $('.new-model-btn').attr('href','#')
    // {% endif %}

    //页码打印和筛选条件
    //	分页点击函数
    var yema=function(){
        $("#page").paging({
            pageNo:1,    //显示页面
            totalPage: 1,   //总页数
            totalSize: 300,
            callback: function(num) {
                console.log({
                    num:num
                })
//					$.ajax({
//						type:"get",
//						url:"{num:num}",
//						async:true,
//						success:function(e){
//
//						}
//					});
            }
        })
    }
    yema()






    //	$('.product-state').on('click',function () {
    //		if($(this).children('span').text()=='运行中'){
    //			$(this).children('.product-state-ing').css('display','none')
    //			$(this).children('.product-state-end').css('display','block')
    //			$(this).children('span').html('暂停')
    //		}
    //		else if($(this).children('span').text()=='暂停'){
    //			$(this).children('.product-state-ing').css('display','block')
    //			$(this).children('.product-state-end').css('display','none')
    //			$(this).children('span').html('运行中')
    //
    //		}
    //	})
    //	$('.product-delete').on('click',function () {
    //		$(this).parent().parent().parent().remove()
    //	})




</script>

{% endblock rightcontent %}

{% block bottomfile %}

<!--<script type="text/javascript" src="{{url_for('static', filename='js/product-manage.js')}}" ></script>-->
{% endblock bottomfile %}