{% extends 'new/public.html' %}


{% block head %}
        {% with namespace = "/jobs" %}
            {% set room = job.id() %}
            {% include 'socketio.html' %}
        {% endwith %}
        <script>


//三线折线图
function arryF(s){
    return Array.from(new Set(s));
}
var c3_a=function(b,c,d){
        c3.generate($.extend({
            bindto: '#mychart-a2',
//          title:{text:'zuoye',},//标题
            axis: {
                x: {
                    tick: {
                        // 3 sig-digs
                        format: function(x) { return Math.round(x * 1000) / 1000; },
//                      fit: false,   //坐标位点偏移量
//						count:7
//						culling: {
//						                    max: 7 //刻度显示数量
//						                }
                    },
                    min: 0,
                    padding: {left: 0},
                     label: {
                        text: '[迭代次数]',
                        position: 'outer-right',
                    },
                },
                y: {
                    min: 0,
//                  max:90,
                    padding: {bottom: 0},

                },
                y2: {
                    show: true,
//                 		 最值
                    min: 0,
//                    max: 100,
                    padding: {top: 0, bottom: 0},
                },
            },
            color: {
       			 pattern: ['#0e9aef', 'red', '#11c888', '#ababab','#e5e6e8']

       		},
       		point: {
//     			参数点半径
			      r: 2,
			},
            grid: {x: {show: true},
            	y: {show: true}
            },
            legend: {position: 'bottom'},
        },
        {
             data: {
                 xs:c,
                 columns:b,
                 axes: d
             },
            transition: {
                duration: 0,
            },
            subchart: {
                show: true,
            },
            zoom: {
                rescale: true,
            },
        }
        ));
}
c3_a_data=[]


var jindutiao=null;
var arry1 = ["accuracy"]
var arry2 = ['loss']
var arry3 = ['cost']
var arry4 = ['accuracy(test)']
var arry5 = ['loss(train)']
var arry6 = ['loss(test)']
var arry7 = ['loss_bbox(train)']
var arry8 = ['loss_coverage(train)']
var arry9 = ['loss_bbox(val)']
var arry10 = ['loss_coverage(val)']
var arry11 = ['mAP(val)']
var arry12 = ['precision(val)']
var arry13 = ['recall(val)']
var arry14 = ['test_x']
var arry15 = ['train_x']
var arry16 = ['x']
var arry17 = ['accuracy(val)']
var arry18 = ['accuracy(train)']
var arry19 = ['speed']
//socket
 $(document).ready(function() {

     socket.on('task update', function (msg) {
		    console.log('------------------------',msg)
            if(msg['update'] == 'accuracy_graph'){

                if ('accuracy' in msg['data']){
                    arry1.push(msg['data']['accuracy'])
                }
                if('loss' in msg['data']){
                    arry2.push(msg['data']['loss'])
                }
                if('cost' in msg['data']){
                    arry3.push(msg['data']['cost'])
                }
                if('accuracy_test' in msg['data']){
                    arry4.push(msg['data']['accuracy_test'])
                }
                if('loss_train' in msg['data']){
                    arry5.push(msg['data']['loss_train'])
                }
                if('loss_test' in msg['data']){
                    arry6.push(msg['data']['loss_test'])
                }

                if('train_loss_bbox' in msg['data']){
                    arry7.push(msg['data']['train_loss_bbox'])
                }
                if('train_loss_coverage' in msg['data']){
                    arry8.push(msg['data']['train_loss_coverage'])
                }
                if('test_loss_bbox' in msg['data']){
                    arry9.push(msg['data']['test_loss_bbox'])
                }
                if('test_loss_coverage' in msg['data']){
                    arry10.push(msg['data']['test_loss_coverage'])
                }
                if('mAP' in msg['data']){
                    arry11.push(msg['data']['mAP'])
                }
                if('precision' in msg['data']){
                    arry12.push(msg['data']['precision'])
                }
                if('recall' in msg['data']){
                    arry13.push(msg['data']['recall'])
                }
                if('test_step' in msg['data']){
                    arry14.push(msg['data']['test_step'])
                }
                if('train_step' in msg['data']){
                    arry15.push(msg['data']['train_step'])
                }
                if('step' in msg['data']){
                    arry16.push(msg['data']['step'])
                }
                if('epoch' in msg['data']){
                    arry15.push(msg['data']['epoch'])
                }
                if('val_epoch' in msg['data']){
                    arry14.push(msg['data']['val_epoch'])
                }
                if('val_accuracy' in msg['data']){
                    arry17.push(msg['data']['val_accuracy'])
                }
                if('train_accuracy' in msg['data']){
                    arry18.push(msg['data']['train_accuracy'])
                }
                if('speed' in msg['data']){

                    arry19.push(msg['data']['speed'])
                }
                var test_step = arryF(arry14)
                var train_step = arryF(arry15)
                var step = arryF(arry16)
                var data_obj = {
                    columns:[arry1,arry2,arry3,arry4,arry5,arry6,arry7,arry8,arry9,arry10,arry11,arry12,arry13,arry17,arry18,arry19,test_step,train_step,step],
                    xs:{accuracy:'x',loss:'x',cost:'x','accuracy(test)':'test_x','loss(test)':'test_x',
                        'loss(train)':'train_x','loss_bbox(train)':'train_x','loss_coverage(train)':'train_x','loss_bbox(val)':'test_x','loss_coverage(val)':'test_x',
                        'mAP(val)':'test_x','precision(val)':'test_x','recall(val)':'test_x','accuracy(val)':'test_x','accuracy(train)':'train_x','speed':'train_x'},
                    axes:{
                        accuracy: 'y2',
                        loss:'y',
                        'mAP(val)':'y2',
                        'precision(val)':'y2',
                        'recall(val)':'y2',
                        'accuracy(test)':'y2',
                        'loss(train)':'y',
                        'loss(test)':'y',
                        cost: 'y',
                        'accuracy(val)':'y2',
                        'accuracy(train)':'y2'
                    }
                }
                c3_a(data_obj.columns,data_obj.xs,data_obj.axes)

            }else if(msg['update'] == 'gpu_utilization'){
                $('.resource-content').children().remove()

                var resource_parent= msg['data']['data_gpu'].length
                for(var i=0;i<resource_parent;i++){
                    $('.resource-all .resource-parent').clone().appendTo($('.resource-content'))
                }
                for(var i=0;i<resource_parent;i++){
                    $('.resource-content .resource-parent').eq(i).children().eq(0).children().children().children().html(i+1)
                    for(var j=0;j< msg['data']['data_gpu'][i]['value'].length;j++){
                        $('.resource-all .resource-children').clone().appendTo($('.resource-content').children().eq(i))

                        $('.resource-content').children().css('display','block')
                        $('.resource-content').children().children().css('display','block')
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(0).children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['name'])
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(2).children().children().children().children().children().children().css('width',msg['data']['data_gpu'][i]['value'][j]['utilization']['gpu'])
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(2).children().children().children().children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['utilization']['gpu'])
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(4).children().children().children().children().children().children().css('width',(Math.floor(msg['data']['data_gpu'][i]['value'][j]['memory']['used']/msg['data']['data_gpu'][i]['value'][j]['memory']['total']*100)+'%'))
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(4).children().children().children().children().children().children().html((Math.floor(msg['data']['data_gpu'][i]['value'][j]['memory']['used']/msg['data']['data_gpu'][i]['value'][j]['memory']['total']*100)+'%'))
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(6).children().children().children().children().children().children().css('width','100%')
                        $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(6).children().children().children().children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['temperature']+'℃')
                    }
                }
            }
		});

     socket.on('tuningdata',function (result) {
         $('.end-time').find('span').eq(1).html(result['data']['end_time'])
         $('.all-time').find('span').eq(1).html(result['data']['cost_time'])
        if(result['data']['method'] === 'GD'){
            $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
            $('.resource-content').hide();

        }else if(result['data']['method'] === 'RMSProp'){
            $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
            if((result['data']['momentum']) && (result['data']['decay']) ){
                $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['momentum'])
                $('.t-result').find('.l-box').eq(2).find('p').html(result['data']['decay'])
                $('.resource-content').hide();

            }else if((result['data']['momentum']) && (Object.keys(result['data']).length === 5)){

                $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['momentum'])
                $('.resource-content').hide();
            }else{

                $('.t-result').find('.l-box').eq(2).find('p').html(result['data']['decay'])
                $('.resource-content').hide();
            }
        }else if(result['data']['method'] === 'Adam'){
            var len = Object.keys(result['data']).length
            if (len === 6){
                $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
                $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['beta1'])
                $('.t-result').find('.l-box').eq(2).find('p').html(result['data']['beta2'])
                $('.resource-content').hide();
            }else if((len === 4) && (result['data']['lr'])){
                $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
                $('.resource-content').hide();
            }else if((len === 4) && (result['data']['beta1'])){
                $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['beta1'])
                $('.resource-content').hide();
            }else if((len === 4) && (result['data']['beta2'])){
                $('.t-result').find('.l-box').eq(2).find('p').html(result['data']['beta2'])
                $('.resource-content').hide();
            }else if((len === 5) && (result['data']['lr']) && (result['data']['beta1'])){
                $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
                $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['beta1'])
                $('.resource-content').hide();
            }else if((len === 5) && (result['data']['lr']) && (result['data']['beta2'])){
                console.log('==========================')
                $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
                $('.t-result').find('.l-box').eq(2).find('p').html(result['data']['beta2'])
                $('.resource-content').hide();
            }else if((len === 5) && (result['data']['beta2']) && (result['data']['beta1'])){
                $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['beta1'])
                $('.t-result').find('.l-box').eq(2).find('p').html(result['data']['beta2'])
                $('.resource-content').hide();
            }
        }else if(result['data']['method'] === 'Momentum'){
            $('.t-result').find('.l-box').eq(0).find('p').html(result['data']['lr'])
            $('.t-result').find('.l-box').eq(1).find('p').html(result['data']['momentum'])
            $('.resource-content').hide();
        }
         $(".finish").attr("href","{{url_for('hyperai.tuning.views.new')}}")
     })

     socket.on('log',function (msg) {
        console.log('qwer', msg)
         $("<p>" + msg['data'] +"</p>").appendTo($(".log-content"))
         $('.log-content')[0].scrollTop = $('.log-content')[0].scrollHeight
      })

     socket.on('task advance',function (data) {
//          console.log(data)
//          $('.resource-content').children().remove()
//
//          var resource_parent=data['data']['data_gpu'].length
//          for(var i=0;i<resource_parent;i++){
//              $('.resource-all .resource-parent').clone().appendTo($('.resource-content'))
//          }
//          for(var i=0;i<resource_parent;i++){
//              $('.resource-content .resource-parent').eq(i).children().eq(0).children().children().children().html(i+1)
//              for(var j=0;j<data['data']['data_gpu'][i]['value'].length;j++){
//                  $('.resource-all .resource-children').clone().appendTo($('.resource-content').children().eq(i))
//
//                  $('.resource-content').children().css('display','block')
//                  $('.resource-content').children().children().css('display','block')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(0).children().children().children().html(data['data']['data_gpu'][i]['value'][j]['name'])
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(2).children().children().children().children().children().children().css('width',data['data']['data_gpu'][i]['value'][j]['utilization']['gpu'])
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(2).children().children().children().children().children().children().html(data['data']['data_gpu'][i]['value'][j]['utilization']['gpu'])
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(4).children().children().children().children().children().children().css('width',(Math.floor(data['data']['data_gpu'][i]['value'][j]['memory']['used']/data['data']['data_gpu'][i]['value'][j]['memory']['total']*100)+'%'))
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(4).children().children().children().children().children().children().html((Math.floor(data['data']['data_gpu'][i]['value'][j]['memory']['used']/data['data']['data_gpu'][i]['value'][j]['memory']['total']*100)+'%'))
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(6).children().children().children().children().children().children().css('width','100%')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(6).children().children().children().children().children().children().html(data['data']['data_gpu'][i]['value'][j]['temperature']+'℃')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(8).children().children().children().children().children().children().css('width','100%')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(8).children().children().children().children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['temperature']+'℃')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(10).children().children().children().children().children().children().css('width','100%')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(10).children().children().children().children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['temperature']+'℃')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(12).children().children().children().children().children().children().css('width','100%')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(12).children().children().children().children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['temperature']+'℃')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(14).children().children().children().children().children().children().css('width','100%')
//                  $('.resource-content .resource-parent').eq(i).children('.resource-children').eq(j).children().eq(14).children().children().children().children().children().children().html(msg['data']['data_gpu'][i]['value'][j]['temperature']+'℃')
//
//
//              }
//          }
      })
 });
        </script>
{% endblock head%}