<script src="{{url_for('static', filename='advance/js/jquery-2.1.0.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='advance/js/bootstrap-3.3.6.min.js')}}"></script>
<script src="{{url_for('static', filename='advance/js/jquery.nicescroll.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='advance/js/jquery.autocomplete-1.2.21.min.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='advance/js/public.js')}}" type="text/javascript" charset="utf-8"></script>