body{-webkit-user-select: none;}
.btn_m{width: 140px;
	outline: none;
	border: none;
}
.user-toggle{
	display: inline-block;
	height:40px ;
	width: 130px;
	float: right;
}
.user-toggle a{
	display: inline-block;
	height: 40px;
	width: 130px;
	line-height: 40px;
	/*background-color: #00B5B8;*/
	color: #626E82;
}
.user-toggle a img{
	display: inline-block;
	width: 35px;
	height: 30px;
}
.new-model-bac{
	z-index: 99998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}
.new-model{
	display: none;
	width:450px ;
	height: 300px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -275px;
	z-index: 99999;	
	background-color: #fff;
}
.new-model-title{
	width: 100%;
	height:40px;
	background-color:#edeff0;
	line-height: 40px;
}

.new-model-title i{
	display: inline-block;
	float: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	background-color: #00B5B8;
	color: #FFFFFF;	
}
.new-model-title i:hover{
	background-color: #ff6376;
}
#content-title{
	display: inline-block;
	height: 40px;
	width: 100%;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	color: #2C3850;
	margin: 50px 0 25px 0;
	
}

.model-select-btn{
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	position: relative;
	left: 90px;
}

.model-select-btn a{
	display: inline-block;
    width: 45px;
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #2C3850;
    margin-left: 15px;
}
.model-select-btn .cancle-btn{
	background-color:#D2E0E9 ;
	color: #2C3850;
}
.model-select-btn .submit-btn{
	background-color: #00B5B8;
	color: #FFFFFF;
}
.model-select-btn .cancle-btn:hover{
	background-color:#FF6376 ;
}
.model-select-btn .submit-btn:hover{
	background-color:#FF6376 ;
}

.m-inter{
	display: none;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 0px;
    border: 1px solid #D9DCE1;
}
/*选择框架*/
.nav-tabs{width: 100%;
	height: 40px;
	margin-bottom: 10px;
}
@media screen and (min-width: 1450px){
	.nav-tabs li{float: left;
		height: 40px;
		width: 20%;
	}
}
@media screen and (max-width: 1450px){
	.nav-tabs li{float: left;
		height: 40px;
		width: 30%;
	}
}
/*.nav-tabs li{float: left;*/
	/*height: 40px;*/
	/*width: 20%;*/
/*}*/
.nav-tabs li a{float: left;
	height: 40px;
	width: 100%;
	line-height: 40px;
	text-align: center;
	color: #2c3850;
	background: #d9dce1;
}
/*#torch{*/
	/*!*color: white;*!*/
	/*!*background: #00b5b8;*!*/
	/*margin:0 10px;*/
/*}*/
.table{color:#2c3850 ;}
.table a{color: #337ab7;}
/*自定义*/
.Now_work{width: 80%;
	height: 600px;
	margin-left: 200px;
	display: none;
}