.w-70{width: 70%;}
.w-6{width: 6%;}
.w-84{width: 84%;}
.h-40{height: 40px;}
.h-100{height: 100%;}
.gcpu_name_mg{margin: 20px 0;}
.w-100vw{width: 100vw;}
.h-100vh{height: 100vh;}
.font-w{font-weight: bold;}
.w-100{width: 100%;}
.line-h40{line-height: 40px;}
.w-100px{width: 100px;}
.lis-e-ul .lis-e-view .pic img {
    display: inline-block;
    width: 100%;
    height: 265px;
    }