.w-70{width: 70%;}
.w-6{width: 6%;}
.w-84{width: 84%;}
.h-40{height: 40px;}
.h-100{height: 100%;}
.gcpu_name_mg{margin: 20px 0;}
.w-100vw{width: 100vw;}
.h-100vh{height: 100vh;}
.font-w{font-weight: bold;}
.line-h40{line-height: 40px;}
.w-5{width: 5%}
.w-95{width: 95%}
.sub-table-tr-i1{
	float: left;
	display: table-row;
	width: 100%;
	padding: 0;
	height: 70px;
	vertical-align: middle;
}
.product-log{height: 400px;
	
	
}
.product-log-content{height: auto;
}
.product-log-content p{width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: left;
}
.table-th {
    float: left;
    display: table-cell;
    padding: 0;
    line-height: 50px;
    font-family: "宋体";
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
}
.table-tr {
    float: left;
    display: table-row;
    width: 100%;
    padding: 0;
}
.table-tr {
    float: left;
    display: table-row;
    width: 100%;
    padding: 0;
}
.bdr-t {
    border-top: 1px solid #d9dce1;
}
.table-td {
    float: left;
    display: table-cell;
    padding: 0;
    text-align: center;
    white-space: normal;
    overflow: hidden;
}
.sub-table {
    float: left;
    display: table;
    width: 100%;
    padding: 0;
}
.sub-table-tr-i1 {
    float: left;
    display: table-row;
    width: 100%;
    padding: 0;
    height: 70px;
    vertical-align: middle;
}
.sub-table .sub-table-td:last-child {
    border: none;
}
.threm {
    width: 100%;
    height: 24px;
    background-color: #DFE6EA;
    margin-top: 18px;
}
.cpu-threm div {
    width: 0px;
    background-color: rgb(0, 181, 184);
}
.length_i {
    height: 24px;
    line-height: 24px;
}
.gpu-threm div {
    width: 0px;
    background-color: rgb(252, 125, 70);
}