.c3-chart-arcs-title {
	font-size: 30px;
	font-weight: bold;
}
.fenqu-box{
	margin-top: 15px;
}
.fenqu-name,.fenqu-info{
	height: 80px;
}
.fenqu-info .col-md-12{
	/*margin-top: 10px;*/
	padding: 0;
}
.fenqu-info .col-md-9{
	/*margin-top: 5px;*/
	padding: 0;

}
.length-bar{
	width: 100%;
	height: 8px;
	border-radius:8px ;
	background: #dfe6ea;
}
.bar{
	height: 8px;
	border-radius:8px ;
}
.b-cpu{
	/*width:40% ;*/
	background: #1e90ff;
}
.b-gpu{
	/*width:80% ;*/
	background: #00b5b8;
}
.b-memory{
	/*width:20% ;*/
	background: #ff6376;
}
.span-box{
	display: inline-block;
    position: relative;
    width: 40px;
}
.span-box em{
	position: absolute;
    width: 30px;
    top: -15px;
    left: -4px;
    font-size: 12px;
    display: none;
}
.span-box:hover{
	color: #00B5B8;
}
.span-box:hover em{
	display: block;
}
.home-state{
	display: inline-block;
	color: #fff;
    border-radius: 5px;
    /*font-size: 15px;*/
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    width: 62px;
   
    text-align: center;
}
.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    height: 45px;
    line-height: 45px;
    padding: 0 8px;
}
.delete-icon{
	visibility: hidden;
}
.job-name{
	cursor: pointer;
}
.job-name:hover{
	color: #00b5b8;
}