# config of hyperai

# project
hyperai_ip = 10.18.95.4
hyperai_port = 15073
hyperai_root = /root/hyperai

# databases
mysql_ip = 10.18.95.8
mysql_port = 3306
mysql_db = test
mysql_user = root
mysql_password = 123456
redis_ip = 127.0.0.1
redis_port = 6379
redis_db = 0
img_mysql_ip = 10.18.101.85
img_mysql_port = 3306
img_mysql_db = registry
img_mysql_user = root
img_mysql_password = root123
img_vip_port = 80

# deploy
deploy_ip = 10.18.95.8

# jupyter
jupyter_ip = 10.18.95.4
jupyter_port = 16073

# the creater of tasks
project_creater = node04-hy73

# normal usrs
img_main = 10.18.101.85:80/hyperai/cloud_v171:latest
img_deploy_tensorrt = 10.18.101.85:80/hyperai/tensorrt_v3.0:latest

# img_deploy_tfserving = tfserving:serving
img_deploy_tfserving = 10.18.101.85:80/hyperai/tfservingv_1.0:latest


# yaml
nfs_ip = 10.18.95.5
nfs_path = /home/newnfs

# mail
mail_password = hyper123
mail_username = hyperai_admin@163.com
# label_gpu
# resources_label = 10.18.95.1:2;10.18.95.3:2;10.18.95.4:2;10.18.95.5:2;10.18.95.8:2
resources_label = GTX-1080TI:4;GTX-1060:4

#grafana
grafana_ip = 10.18.95.4
grafana_port = 30103